{% extends "visionneuse/_base.html" %}

{% block extra_styles %}
<style type="text/css">
  .title {
    background: white;
    border: 1px solid #d9d9d9;
    margin-bottom: 1.5rem;
    box-shadow: 0 7px 7px -1px #ccc;
  }
    .title h1 {
      margin: 1.7rem 3rem;
      text-align: center;
      font-family: "source_serif_pro";
      font-size: 1.7rem;
      color: #3167a6;
    }

  .arrow-right {
    display: block;
    background-position: center right;
    background-size: 1.2rem;
    background-image: url("{{ request.static_url('zam_repondeur:static/img/big_right_gray.svg') }}");
    color: black;
    padding: 0;
  }
  .article {
    position: relative;
  }
    .article h2 {
      font-weight: 600;
      display: block;
      width: 100%;
      line-height: 1.5;
      margin-top: 0;
      font-size: 1.45rem;
    }
    .article h3 {
      max-width: 25rem;
      line-height: 1.2;
      margin: 0;
      font-weight: normal;
      font-size: 1.1rem;
    }
    .article a::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
</style>
{% endblock %}

{% block title %}
  <h1>{{ lecture.dossier.titre }}</h1>
{% endblock %}

{% block main %}
  <section class="box">
    <form class="search" id="search-article" method="get" role="search" action="">
      <label for="q-article">Article nº</label>
      <span class="number-with-hint">
        <input name="q-article" id="q-article" type="number" min="1" step="1">
        <span class="hint">Chiffres uniquement</span>
      </span>
      <input type="submit" name="submit" value="Valider">
      <p class="error hide">Article non trouvé.</p>
    </form>
  </section>

  {% for article in articles|filter_out_empty_additionals %}
    {% if article.slug and not article.is_erreur %}
      <section class="box article" id="{{ article.slug }}" data-article-num="{{ article.num }}">
        <h2><a class="arrow-right" href="{{ request.resource_url(context, article.url_key, 'reponses') }}">{{ article.format(short=False) }}</a></h2>
        <h3>{{ article.user_content.title or "" }}</h3>
      </section>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  ;(function filterArticles () {
    const form = document.querySelector('#search-article')
    const input = form.querySelector('input[name="q-article"]')
    const allArticles = Array.from(document.querySelectorAll('[data-article-num]'))
    function displayAllArticles () {
      allArticles.forEach(article => {
        article.classList.remove('is-none')
      })
    }
    form.addEventListener('submit', e => {
      e.preventDefault()
      const form = e.target
      const data = new FormData(form)
      const value = data.get('q-article').trim()
      if (!value) {
        displayAllArticles()
        return
      }
      const articles = Array.from(document.querySelectorAll(`[data-article-num="${value}"]`))
      if (articles.length) {
        allArticles.forEach(article => {
          article.classList.toggle('is-none', articles.indexOf(article) === -1)
        })
      } else {
        displayAllArticles()
        form.querySelector('.error').classList.remove('hide')
      }
    })
    input.addEventListener('keyup', e => {
      if (!e.target.value.trim())
        displayAllArticles()
    })
    input.addEventListener('keydown', e => {
      form.querySelector('.error').classList.add('hide')
    })

  })()
</script>
{% endblock %}
</html>
