{# -----------------------------------
  Headers used for the PDF outline:
  - H1: dossier législatif
  - H2: article
  - H3: amendement
 ----------------------------------- #}
{% import 'print/macros.html' as macros %}
<!doctype html>
<html lang=fr>
<head>
  <meta charset=utf-8>
</head>
<body>
  <div class="first-page page">
    <h1>{{ lecture.dossier.titre }}</h1>
    <div class="lecture">{{ lecture }}</div>
  </div>
  <main>
    {% for article in lecture.articles|sort %}

      {% if not article.pos %}
        {{ macros.article_page(article) }}
      {% endif %}

      {% for reponse, amendements in article.grouped_displayable_top_level_amendements() %}
        {{ macros.response_page(amendements) }}
        {% for amendement in amendements %}
          {{ macros.amendement_page(amendement) }}
        {% endfor %}
        {% for amendement in amendements %}
          {% for reponse, children_amendements in amendement.grouped_displayable_children() %}
            {{ macros.response_page(children_amendements) }}
            {% for child in children_amendements %}
              {{ macros.amendement_page(child) }}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}

    {% endfor %}
  </main>
</body>
