{% import 'print/macros.html' as macros %}
<!doctype html>
<html lang=fr>
<head>
  <meta charset=utf-8>
</head>
<body>
  <main>
    {% for amendement in amendements %}
        {{ macros.response_page([amendement] + amendement.similaires) }}
        {% if amendement.batch %}
            {% set amdts = amendement.batch.amendements %}
        {% else %}
            {% set amdts = [amendement] %}
        {% endif %}
        {% for amdt in amdts %}
            {{ macros.amendement_page(amdt) }}
        {% endfor %}
    {% endfor %}
  </main>
</body>
