<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zam</title>
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/zam2.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav>
        {% block nav %}
            {% if "lectures" in context and request.user %}
                <ul>
                    <li><a href="{{ request.resource_url(context['lectures']) }}">Lectures</a></li>
                </ul>
                <ul>
                    <li>Mon compte ({{ request.user.name }})</li>
                    <li><a href="{{ request.route_url('logout') }}">Déconnexion</a></li>
                </ul>
            {% endif %}
        {% endblock %}
    </nav>
    <main class="box">{% block main %}{% endblock %}</main>
    {% block extra_body %}{% endblock %}
</body>
</html>
{% with branch = request.registry.settings['version']['branch'],
        sha1 = request.registry.settings['version']['sha1'],
        date = request.registry.settings['version']['date'] %}
<!-- Version: {{ branch }} @ {{ sha1[:8] }} ({{ date }}) -->
{% endwith %}
