<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Zam</title>
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/zam.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/notifications.css') }}">
    {% block header %}
    {% endblock %}
</head>
<body>
    <nav class="main">
        {% block nav %}
            <ul>
                {% if request.user and not (hide_lectures_link is defined and hide_lectures_link) %}
                    <li><a class="home" href="{{ request.resource_url(request.root['lectures']) }}" title="Aller à la liste des lectures">Lectures</a></li>
                    {% block extra_nav %}{% endblock %}
                {% endif %}
            </ul>
            <ul data-controller="account-menu">
                {% if request.user %}
                    <li class="account-menu-toggle">
                        <a class="account" data-action="account-menu#toggle click@window->account-menu#dismiss">{{ request.user.name }}</a>
                        <ul class="account-menu d-none" data-target="account-menu.menu">
                            <li><a href="{{ request.route_url('welcome') }}">Modifier mon nom</a></li>
                            <li><a class="logout" href="{{ request.route_url('logout') }}" title="Se déconnecter de Zam">Déconnexion</a></li>
                        </nav>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
    </nav>

    <main role="main" class="{% block main_class %}box{% endblock %}">
        {% block body %}
        {% endblock %}
    </main>
    {# See https://inclusive-components.design/notifications/ #}
    <div role="status" aria-live="polite" class="d-none"
        data-controller="notifications notifications-with-diff notifications-with-diff-unique"
        data-notifications-check-url="{% block check_url %}{% endblock %}"
        data-notifications-check-timestamp="{% block check_timestamp %}{% endblock %}"
        data-notifications-check-interval="{% block check_interval %}{% endblock %}"
        {% for kind, message in request.session.pop_flash() %}
            data-notifications-message="{{ message }}"
            data-notifications-kind="{{ kind }}"
        {% endfor %}
        {% block notifications_extras %}{% endblock %}
        >
        <a class="close-notification" data-action="notifications#close" href="">×</a>
        <div></div>
    </div>

    <script src="{{ request.static_url('zam_repondeur:static/js/stimulus.js') }}"></script>
    <script>;(() => window.application = Stimulus.Application.start())()</script>
    <script src="{{ request.static_url('zam_repondeur:static/js/zam.js') }}"></script>
    <script src="{{ request.static_url('zam_repondeur:static/js/notifications.js') }}"></script>
    <script>
        ;(function disableOnSubmit () {
            const submitInputs = document.querySelectorAll('[type="submit"]:not(.allow-multiple-submit)')
            submitInputs.forEach(submitInput => {
                submitInput.onclick = (e) => {
                    submitInput.classList.add('disabled')
                    submitInput.textContent = 'En cours de traitement…'
                }
            })
        })()
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
{% with branch = request.registry.settings['version']['branch'],
        sha1 = request.registry.settings['version']['sha1'],
        date = request.registry.settings['version']['date']
%}
<!-- Version: {{ branch }} @ {{ sha1[:8] }} ({{ date }}) -->
{% endwith %}
