<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    {# Generated via https://realfavicongenerator.net/ #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ request.static_url('zam_repondeur:static/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ request.static_url('zam_repondeur:static/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ request.static_url('zam_repondeur:static/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ request.static_url('zam_repondeur:static/favicons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ request.static_url('zam_repondeur:static/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ request.static_url('zam_repondeur:static/favicons/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ request.static_url('zam_repondeur:static/favicons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/zam.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/notifications.css') }}">
    {% block header %}
    {% endblock %}
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/css/custom.css') }}">
</head>
<body data-controller="amendement-search"{% if body_class is defined %} class="{{ body_class }}"{% endif %}>
    <nav class="main">
        {% block nav %}
            <ul data-controller="menu">
                {% if request.user %}
                    <li class="menu-toggle">
                        <a data-action="menu#toggle click@window->menu#dismiss">Menu</a>
                        <div class="menu d-none" data-target="menu.menu">
                            <ul class="menu-breadcrumb">
                                {% for resource in context.breadcrumbs(request) %}
                                    <li class="{{ resource.breadcrumbs_class }}">
                                        {{ resource.breadcrumbs_label }}
                                    </li>
                                {% endfor %}
                                {% set back_url = context.back_url(request) %}
                                {% if back_url %}
                                    <li>
                                        <a href="{{ back_url }}" class="arrow-left">Retour</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <ul class="menu-actions">
                                {% for action in request.get_menu_actions() %}
                                    {% if action.should_show %}
                                        <li {% if action.tab_name
                                               and current_tab is defined
                                               and current_tab == action.tab_name %} class="selected"{% endif %}>
                                            <a href="{{ action.url }}"
                                               {% if action.link_class %} class="{{ action.link_class }}"{% endif %}
                                               {% if action.open_in_new_window %} target="_blank"{% endif %}
                                               >
                                                {{ action.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% if lecture_resource is defined %}
                        <li{% if current_tab == 'table' %} class="selected"{% endif %}>
                            <a href="{{ request.resource_url(lecture_resource['tables'], request.user.email) }}">
                                Ma table
                            </a>
                        </li>
                        <li{% if current_tab == 'index' %} class="selected"{% endif %}>
                            <a href="{{ request.resource_url(lecture_resource, 'amendements') }}">
                                Index
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        {% endblock %}
        {% if request.registry.settings.get('zam.menu_badge_label') %}
        <div class="badge" style="background-color: {{ request.registry.settings.get('zam.menu_badge_color', '#aaaaaa') }};">{{ request.registry.settings.get('zam.menu_badge_label') }}</div>
        {% endif %}
    </nav>

    <main role="main" class="{% block main_class %}box{% endblock %}">
        {% block body %}
        {% endblock %}
    </main>
    {# See https://inclusive-components.design/notifications/ #}
    <div role="status" aria-live="polite" class="d-none"
        data-controller="notifications notifications-with-diff notifications-with-diff-unique"
        data-notifications-check-url="{% block check_url %}{% endblock %}"
        data-notifications-check-timestamp="{% block check_timestamp %}{% endblock %}"
        data-notifications-check-interval="{% block check_interval %}{% endblock %}"
        {% for kind, message in request.session.pop_flash() %}
            data-notifications-message="{{ message }}"
            data-notifications-kind="{{ kind }}"
        {% endfor %}
        {% block notifications_extras %}{% endblock %}
        >
        <a class="close-notification" data-action="notifications#close" href="">×</a>
        <div></div>
    </div>

    <script src="{{ request.static_url('zam_repondeur:static/js/stimulus.js') }}"></script>
    <script>;(() => window.application = Stimulus.Application.start())()</script>
    <script src="{{ request.static_url('zam_repondeur:static/js/zam.js') }}"></script>
    <script src="{{ request.static_url('zam_repondeur:static/js/notifications.js') }}"></script>
    <script>
        ;(function disableOnSubmit (duration = 3 /* Seconds. */) {
            const submitInputs = document.querySelectorAll('[type="submit"]:not(.allow-multiple-submit)')
            submitInputs.forEach(submitInput => {
                submitInput.onclick = (e) => {
                    const initialTextContent = submitInput.textContent
                    submitInput.classList.add('disabled')
                    submitInput.textContent = 'En cours de traitement…'
                    setTimeout(() => {
                        submitInput.classList.remove('disabled')
                        submitInput.textContent = initialTextContent
                    }, (duration * 1000))
                }
            })
        })()
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
{% with branch = request.registry.settings['version']['branch'],
        sha1 = request.registry.settings['version']['sha1'],
        date = request.registry.settings['version']['date']
%}
<!-- Version: {{ branch }} @ {{ sha1[:8] }} ({{ date }}) -->
{% endwith %}
