<!doctype html>
<html lang=fr>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,minimum-scale=1,initial-scale=1,shrink-to-fit=no">
<title>{{ lecture.dossier_legislatif }} — {{ lecture }}</title>
<link rel=icon href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/fonts.css') }}">
<link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/visionneuse.css') }}">
{% block extra_styles %}{% endblock %}

{# See https://inclusive-components.design/notifications/ #}
<div role="status" aria-live="polite"></div>

<nav class="main">
  <span>
    <a class="list" href="{{ request.resource_url(context.parent if article else context) }}">Liste des articles</a>
  </span>
  <span><a class="find" href="">Accès amendement</a></span>
</nav>

<form class="search is-none" id="search-amendements" method="get" role="search" action="" data-amendement-matches='{{ lecture|amendement_matches|tojson }}'>
  <label for="q-amendement">Amendement nº</label>
  <span class="number-with-hint">
    <input name="q-amendement" id="q-amendement" type="number" min="1" step="1">
    <span class="hint">Chiffres uniquement</span>
  </span>
  <input type="submit" name="submit" value="Valider">
  <p class="error hide">Amendement non trouvé.</p>
</form>

<div class="title">
  {% block title %}{% endblock %}
</div>

{% block secondary_nav %}{% endblock %}

<main>
  {% block main %}{% endblock %}
</main>

{% block bottom_nav %}{% endblock %}

<script type="text/javascript">window.__forceSmoothScrollPolyfill__ = true</script>
<script src="{{ request.static_url('zam_repondeur:static/smoothscroll/smoothscroll.js') }}"></script>
<script src="{{ request.static_url('zam_repondeur:static/js/visionneuse.js') }}"></script>
{% block extra_scripts %}{% endblock %}
</html>
