{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/journal.css') }}">
{% endblock %}

{% block top %}
    <div class="title">
        <h2>{{ lecture.dossier_legislatif }}</h2>
        <h3>{{ lecture }}</h3>
    </div>
{% endblock %}

{% block secondary_header %}
    <nav class="nav secondary justify-content-between">
        <span class="nav-item">
            <a class="arrow-left" href="{{ request.resource_url(context, 'amendement_edit') }}">Retourner à l’amendement</a>
        </span>
        <div>
            <h2>Journal des modifications</h2>
            <div>Amendement {{ amendement }}</div>
        </div>
        <span class="nav-item">
        </span>
    </nav>
{% endblock %}

{% block body %}
    <div class="container timeline">
        {% for key, events in amendement.events|group_by_day %}
            <h3>
                {% if key == today %}
                    Aujourd’hui
                {% else %}
                    {{ key.strftime("%d %B") }}
                {% endif %}
            </h3>
            <ul>
            {% set outer_loop = loop %}
            {% for event in events %}
                {{ macros.journal_line(outer_loop.first and loop.first, event) }}
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
