{% extends "_base_edit.html" %}
{% import "macros.html" as macros %}

{% block header %}
    {{ super() }}
    <style type="text/css">
        /* Headers with line-through */
        h4 {
          overflow: hidden;
          text-align: center;
          font-weight: 600;
          margin-bottom: 1.25rem;
        }
            h4:before,
            h4:after {
              background-color: #9b9b9b;
              content: "";
              display: inline-block;
              height: 1px;
              position: relative;
              vertical-align: middle;
              width: 50%;
            }
            h4:before {
              right: 0.5em;
              margin-left: -50%;
            }
            h4:after {
              left: 0.5em;
              margin-right: -50%;
            }

        /* Link to article */
        h5 a {
            text-decoration: underline;
        }

        .button.secondary {
            border-color: #3167a6;
            color: #3167a6;
            background: white;
        }
            .button.secondary:hover {
                border-color: #3167a6;
                color: white;
                background: #3167a6;
            }

        #prefill-reponse {
            margin-bottom: 2rem;
        }
            #prefill-reponse .save-buttons {
                justify-content: flex-end;
                align-items: baseline;
            }
            #prefill-reponse #cancel {
                margin-right: 1.5rem;
            }

        #edit-amendement .save-buttons {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            background: white;
            padding: 1rem;
            flex-wrap: wrap;
        }
            #edit-amendement .save-buttons input[name="save-and-transfer"] {
                width: 100%;
                margin-bottom: 1rem;
            }
    </style>
{% endblock %}

{% block extra_nav %}
    <li>
        <a href="{{ request.resource_url(context.parent.parent['tables'], request.user.email) }}">
            Ma table
        </a>
    </li>
    <li>
        <a href="{{ request.resource_url(context.parent.parent, 'amendements') }}">
            Index
        </a>
    </li>
    {% if amendement.is_displayable %}
        <li>
            <a href="{{ request.resource_url(context.parent.parent['articles'][amendement.article.url_key], 'reponses', anchor=amendement.slug) }}" target="_blank">
                Dossier de banc
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="content box">
        <div class="title">
            <h2>Amendement nº&nbsp;{{ amendement }}</h2>
            {% if amendement.parent %}
                <h3>Sous-amendement au {{ amendement.parent }}</h3>
            {% endif %}
            - {{ amendement.article.format() }} -
            <div class="auteur">
                {% if amendement.auteur %}
                    Présenté par {{ amendement.auteur }}
                    {%- if not amendement.gouvernemental %}
                        ({{ amendement.groupe }})
                    {% endif %}
                {% elif amendement.is_abandoned_before_seance %}
                    {% if amendement.is_withdrawn %}
                        <h3>Cet amendement a été retiré</h3>
                    {% else %}
                        <h3>Cet amendement est irrecevable</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {{ macros.update_informations(amendement, request.resource_url(context, 'amendement_journal')) }}
        {{ content(amendement) }}
    </section>
    <section class="edit box">
        {% if amendement.user_table and request.user == amendement.user_table.user %}
            <div>
                {% if amendement.identique %}
                    {% set identiques = amendement.all_identiques %}
                    {% set identiques_length = identiques|length %}
                    <p>
                        <em>
                            Identique au{% if identiques_length > 1 %}x{% endif %} nº
                            {% for identique in identiques -%}
                                <a href="{{ request.resource_url(context.parent[identique.num_str], 'reponse') }}">{{ identique }}</a>
                                {% if identique.user_content.full_reponse() != amendement.user_content.full_reponse() %}
                                    <span title="Cet amendement identique n’a pas une réponse similaire">⚠️</span>
                                {% endif %}
                                {% if loop.revindex == 2 and identiques_length > 1 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
                            {%- endfor %}
                        </em>
                    </p>
                {% endif %}
            </div>
            {{ form(amendement) }}
        {% else %}
            <div class="notice">
                {% if amendement.user_table %}
                    <p>Cet amendement est actuellement sur la table de <nobr class="user">{{ amendement.user_table.user }}</nobr>.</p>
                {% endif %}
                <p>
                    Pour pouvoir éditer cet amendement, il doit se trouver sur votre table.
                </p>
                <form id="transfer" action="{{ request.resource_url(context.parent.parent['tables'], request.user.email) }}" method="POST">
                    <input type="hidden" name="nums" value="{{ amendement.num }}">
                    <input type="hidden" name="target" value="{{ request.user.email }}">
                    <input type="submit" class="button primary" value="Transférer sur ma table">
                </form>
            </div>
            {{ reponse(amendement) }}
        {% endif %}
    </section>
{% endblock %}


{% macro content(amendement) %}
    <div class="expose">
        <h4>Exposé</h4>
        {% if amendement.expose %}
            {{ amendement.expose | safe }}
        {% else %}
            <i>Néant</i>
        {% endif %}
    </div>
    <div class="corps">
        <h4>Corps de l’amendement</h4>
        <h5><a href="{{ request.resource_url(context.parent.parent['articles'][amendement.article.url_key]) }}" target="_blank">{{ amendement.article.format() }}</a></h5>
        {{ amendement.corps | safe }}
    </div>
{% endmacro %}


{% macro reponse(amendement) %}
    <div class="reponse">
        <h4>Position du gouvernement</h4>
        <p>{{ amendement.user_content.avis or '' }}</p>
        <h4>Objet de l’amendement</h4>
        {{ amendement.user_content.objet | paragriphy }}
        <h4>
            {% if not amendement.gouvernemental %}
                Réponse à l’amendement
            {% else %}
                Présentation de l’amendement
            {% endif %}
        </h4>
        {{ amendement.user_content.reponse | paragriphy }}
    </div>
{% endmacro %}


{% macro form(amendement) %}

    {% if not amendement.gouvernemental %}
        <h4>Réutiliser</h4>
        <form id="prefill-reponse" action="" method="POST" class="mt-3">
            <div class="form-group" style="margin-bottom: 1.5rem">
                <label for="autofill">Remplir à partir de…</label>
                <select name="autofill" class="form-control">
                    <option value="">Choisir dans la liste…</option>
                    {% for reponse, amendements in reponses %}
                        {% if amendement not in amendements %}
                            <option value="{{ loop.index }}"
                                    data-reponse-avis="{{ reponse.avis }}"
                                    data-reponse-objet="{{ reponse.objet }}"
                                    data-reponse-content="{{ reponse.content }}">
                                {{ macros.multiple_amendements_title(amendements) }}
                                {% if amendements[0].user_content.is_redactionnel %}
                                    (rédactionnel)
                                {% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group save-buttons">
                <a href="" id="cancel">Annuler</a>
                <input type="submit" name="submit" value="Remplir"
                    class="button allow-multiple-submit secondary">
            </div>
        </form>
    {% endif %}

    <h4>
        {% if not amendement.gouvernemental %}
            Répondre
        {% else %}
            Présentation
        {% endif %}
    </h4>

    <form id="edit-amendement" action="{{ submit_url }}" method="POST" class="mt-3">

        {% if not amendement.gouvernemental %}
        <div class="form-group">
            <label for="avis">Position du gouvernement</label>
            <select name="avis" class="form-control">
                <option value="">Choisir dans la liste…</option>
                {% for value in avis %}
                    <option value="{{ value }}" {%- if amendement.user_content.avis == value %} selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="objet">Objet de l’amendement</label>
            <textarea name="objet" class="form-control">{{ amendement.user_content.objet or "" | safe }}</textarea>
        </div>

        <div class="form-group">
            <label for="reponse">
                {% if not amendement.gouvernemental %}
                    Réponse à l’amendement
                {% else %}
                    Présentation de l’amendement
                {% endif %}
            </label>
            <textarea name="reponse" class="form-control">{{ amendement.user_content.reponse or "" | safe }}</textarea>
        </div>

        <div class="form-group">
            <label for="comments">Commentaires</label>
            <textarea name="comments" class="form-control">{{ amendement.user_content.comments or "" | safe }}</textarea>
        </div>

        <div class="form-group save-buttons">
            <input type="submit" name="save-and-transfer" value="Enregistrer et transférer" class="button enabled primary">
            <a href="{{ back_url }}" class="arrow-left">Retour</a>
            <input type="submit" name="save" value="Enregistrer" class="button primary">
        </div>

    </form>
{% endmacro %}

{% block extra_scripts %}
{% if not amendement.gouvernemental %}
    <script type="text/javascript">
        window.onload = () => {
            // Wait for iframes to be loaded.
            setTimeout(() => {
                const prefillForm = document.querySelector('form#prefill-reponse')
                const editReponseForm = document.querySelector('form#edit-amendement')
                const initialAvis = editReponseForm.querySelector('option:checked')
                    .value
                const objetWindow = document.querySelector('iframe#objet_ifr')
                    .contentWindow
                const objetBody = objetWindow.document.body
                const initialObjet = objetBody.innerHTML
                const reponseWindow = document.querySelector('iframe#reponse_ifr')
                    .contentWindow
                const reponseBody = reponseWindow.document.body
                const initialReponse = reponseBody.innerHTML
                prefillForm.addEventListener('submit', e => {
                    e.preventDefault()
                    const data = new FormData(e.target)
                    const index = data.get('autofill')
                    const option = e.target.querySelector(
                        `select[name="autofill"] option[value="${index}"]`
                    )
                    editReponseForm.querySelector(
                        `option[value="${option.dataset.reponseAvis}"]`
                    ).selected = true
                    objetBody.innerHTML = option.dataset.reponseObjet
                    reponseBody.innerHTML = option.dataset.reponseContent
                })
                document.querySelector('#cancel').addEventListener('click', e => {
                    e.preventDefault()
                    editReponseForm.querySelector(
                        `option[value="${initialAvis}"]`
                    ).selected = true
                    objetBody.innerHTML = initialObjet
                    reponseBody.innerHTML = initialReponse
                })
            }, 1)
        }
    </script>
{% endif %}
{% endblock %}
