{% extends "_base.html" %}


{% block header %}
<style type="text/css">
    .action i {
        margin-right: 0.33rem;
    }
    th::after {
        content: " ⇵";
    }
    th[data-order="asc"]::after {
        content: " ↓";
    }
    th[data-order="desc"]::after {
        content: " ↑";
    }
    th.nosort::after {
        content: "";
    }
    th input.form-control {
        display: inline;
        width: 4rem;
        padding: 0 .25rem;
    }
    .bookmark input[type="submit"] {
        border:none;
        background: inherit;
    }
</style>
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ request.resource_url(request.root['lectures']) }}">Lectures</a></li>
    <li class="breadcrumb-item"><a href="{{ request.resource_url(request.root['lectures'][lecture.url_key]) }}">{{ lecture.dossier_legislatif }} → {{ lecture }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Amendements</li>
{% endblock %}


{% block body %}
    <h2>{{ lecture }}</h2>

    <form action="" enctype="multipart/form-data" method="post" id="import-form">
        <div class="form-row align-items-center">
            <div class="col-sm-6">
                <input type="file" class="custom-file-input" id="reponses" name="reponses">
                <label class="custom-file-label" for="reponses">Fichier CSV exporté depuis fichier Excel</label>
            </div>
            <div class="col-auto">
              <input type="submit" name="upload" class="btn btn-primary" value="Charger un lot de réponses">
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Article <input class="form-control form-control-sm" type="text"></th>
                <th>Nº</th>
                <th>Auteur</th>
                <th>Groupe</th>
                <th>Sort</th>
                <th>Avis</th>
            </tr>
        </thead>
        {% for amendement in amendements %}
            <tr data-value="{%- if amendement.subdiv_type == 'article' -%}
                {{ amendement.subdiv_num }} {{ amendement.subdiv_mult }}
            {%- else -%}
                {{ amendement.subdiv_type }}
            {%- endif -%}">
                <td data-sortkey="{{ amendement.bookmarked_at or '' }}" class="bookmark">
                    <form method="post" action="{{ request.route_url('amendement_edit', chambre=amendement.chambre, session=amendement.session, num_texte=amendement.num_texte, organe=amendement.organe, num=amendement.num) }}" id="amendement-{{ amendement.num }}">
                        {% if amendement.bookmarked_at %}
                            <input type="hidden" name="bookmark" value="0">
                            <input type="submit" name="submit" title="Cliquer pour enlever le favori" value="★">
                        {% else %}
                            <input type="hidden" name="bookmark" value="1">
                            <input type="submit" name="submit" title="Cliquer pour mettre en favori" value="☆">
                        {% endif %}
                    </form>
                </td>
                <td data-sortkey="{{ amendement.subdiv_num }}">
                    {{ amendement.subdiv_disp }}
                    {% if amendement.subdiv_titre %}
                        <br>{{ amendement.subdiv_titre }}
                    {% endif %}
                    <a class="action" href="{{ request.route_url('article_edit', chambre=amendement.chambre, session=amendement.session, num_texte=amendement.num_texte, organe=amendement.organe, subdiv_type=amendement.subdiv_type, subdiv_num=amendement.subdiv_num, subdiv_mult=amendement.subdiv_mult, subdiv_pos=amendement.subdiv_pos) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td data-sortkey="{{ amendement.num }}">
                    {{ amendement.num_disp }}
                </td>
                <td>{{ amendement.auteur }}</td>
                <td>{{ amendement.groupe }}</td>
                <td>{{ amendement.sort }}</td>
                <td>
                    <nobr>
                        {% if amendement.avis %}
                            {{ amendement.avis }}
                        {% else %}
                            Aucun
                        {% endif %}
                        <a class="action" href="{{ request.route_url('reponse_edit', chambre=amendement.chambre, session=amendement.session, num_texte=amendement.num_texte, organe=amendement.organe, num=amendement.num) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </nobr>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
<script src="{{ request.static_url('zam_repondeur:static/tinysort/tinysort.min.js') }}"></script>
<script type="text/javascript">
    var table = document.querySelector('table')
    var tableHead = table.querySelector('thead')
    var tableHeaders = tableHead.querySelectorAll('th')
    var tableBody = table.querySelector('tbody')
    var tableLines = tableBody.querySelectorAll('tr')
    tableHead.addEventListener('click', function (e) {
        var tableHeader = e.target
        if (tableHeader.classList.contains("nosort") || tableHeader.nodeName === 'INPUT')
            return
        var tableHeaderIndex = Array.prototype.indexOf.call(tableHeaders, tableHeader)
        var isAscending = tableHeader.getAttribute('data-order') === 'asc'
        var order = isAscending ? 'desc' : 'asc'
        tableHeader.setAttribute('data-order', order)
        var options = {
            selector:'td:nth-child(' + (tableHeaderIndex + 1) + ')',
            order: order,
        }
        if (tableHeaderIndex < 2) {
            options['data'] = 'sortkey'
        }
        tinysort(tableLines, options)
    })
    var filterInput = table.querySelector('input')
    filterInput.addEventListener('keyup', function (e) {
        var value = e.target.value.trim()
        ;[].slice.call(tableLines).forEach(function (line) {
            if (!value) {
                line.classList.remove("d-none")
                return
            }
            if (line.dataset.value.trim() === value) {
                line.classList.remove("d-none")
            } else {
                line.classList.add("d-none")
            }
        })
    })
    document.querySelector('[type="file"]').addEventListener('change', function (e) {
        var input = e.target
        var filename = input.files[0].name
        var label = document.querySelector('label[for="' + input.id + '"]')
        label.innerHTML = filename
    })
    var bookmarkForms = table.querySelectorAll('.bookmark form')
    ;[].slice.call(bookmarkForms).forEach(function (bookmarkForm) {
        bookmarkForm.addEventListener('submit', function (e) {
            e.preventDefault()
            var target = e.target
            fetch(target.action, {
                method: 'POST',
                body: new FormData(target),
                credentials: 'same-origin'
            }).then(function(response) {
                var bookmarkInput = target.querySelector('[name="bookmark"]')
                var submitInput = target.querySelector('[name="submit"]')
                if (submitInput.value == '☆') {
                    submitInput.value = '★'
                    submitInput.title = 'Cliquer pour enlever le favori'
                    bookmarkInput.value = '0'
                    target.parentElement.dataset.sortkey = 1
                } else {
                    submitInput.value = '☆'
                    submitInput.title = 'Cliquer pour mettre en favori'
                    bookmarkInput.value = '1'
                    target.parentElement.dataset.sortkey = ''
                }
            })
        })
    })
</script>
{% endblock %}
