{% extends "_base.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/journal.css') }}">
{% endblock %}

{% block top %}
    <div class="title">
        <h2>{{ lecture.dossier_legislatif }}</h2>
        <h3>{{ lecture }}</h3>
    </div>
{% endblock %}

{% block secondary_header %}
    <nav class="nav secondary justify-content-between">
        <span class="nav-item">
            <a class="arrow-left" href="{{ request.resource_url(context, 'amendement_edit') }}">Retourner à l’amendement</a>
        </span>
        <div>
            <h2>Journal des modifications</h2>
            <div>Amendement {{ amendement }}</div>
        </div>
        <span class="nav-item">
        </span>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="timeline">
            {% for event in amendement.events %}
                <li>
                    <em>
                        <time xsi:type="xsd:dateTime"
                            datetime="{{ event.created_at.isoformat() }}"
                            data-timestamp="{{ event.created_at_timestamp }}">
                                {{ event.created_at.strftime("%A %d %B à %I:%M%p") }}
                        </time>
                    </em>
                    <span class="icon">
                        {% if event.type == "update_amendement_avis" %}
                            <i class="fa fa-certificate"></i>
                        {% elif event.type == "update_amendement_affectation" %}
                            <i class="fa fa-users"></i>
                        {% elif event.type.startswith("update") %}
                            <i class="fa fa-pencil-alt"></i>
                        {% endif %}
                    </span>
                    {% set event_details = event.render_details() %}
                    <details {% if loop.first or not event_details %}open{% endif %}>
                        <summary>{{ event.render_summary() }}</summary>
                        {% if event_details %}
                            {{ event_details }}
                        {% endif %}
                    </details>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
