{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block title %}
    {{ article.lecture }} • {{ article.lecture.dossier.titre }} • Zam
{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/journal.css') }}">
{% endblock %}

{% block extra_nav %}
    <li>→</li>
    <li>
        <a href="{{ request.resource_url(lecture_resource.dossier_resource) }}" title="{{ lecture.dossier.titre }}">
            Dossier
        </a>
    </li>
    <li>→</li>
    <li>
        <a href="{{ request.resource_url(lecture_resource['amendements']) }}" title="{{ lecture }}">
            Lecture
        </a>
    </li>
    <li>→</li>
    <li class="separator">
        <a href="{{ request.resource_url(context) }}" title="{% if article.user_content.title %}{{ article.user_content.title }}{% endif %}">
            {{ article.format() }}
        </a>
    </li>
    <li class="selected">
        <a href="{{ request.resource_url(context, 'journal') }}">
            Journal
        </a>
    </li>
{% endblock %}

{% block body %}
    <a href="{{ request.resource_url(context) }}" class="arrow-left">Retour</a>
    <h1>Journal des modifications</h1>
    <div class="title-extras">
        {{ article.format() }}
    </div>
    {{ macros.timeline(article.events, today) }}
{% endblock %}
