{% extends "_base_edit.html" %}
{% import "macros.html" as macros %}

{% block extra_nav %}
    <li>
        <a href="{{ request.resource_url(context.parent.parent['tables'], request.user.email) }}">
            Ma table
        </a>
    </li>
    <li>
        <a href="{{ request.resource_url(context.parent.parent, 'amendements') }}">
            Index
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="content box">
        <div class="title">
            <h2>{{ article }}</h2>
            {% if article.user_content.title %}
                <div>{{ article.user_content.title }}</div>
            {% endif %}
        </div>
        {{ macros.update_informations(article, request.resource_url(context, 'article_journal')) }}
        {{ content(article) }}
    </section>
    <section class="edit box">
        {{ form(article) }}
    </section>
{% endblock %}


{% macro content(article) %}
    {% if article.content %}
        <dl>
            {% for pastille, content in article.content.items() %}
                <dt>{{ pastille }}</dt>
                <dd>{{ content.strip('"') | safe }}</dd>
            {% endfor %}
        </dl>
    {% endif %}
{% endmacro %}


{% macro form(article) %}
    <form id="edit-article" action="{{ request.path }}" method="post" class="mt-3">
        <div class="form-group">
            <label for="title">Titre de l’article</label>
            <input name="title" class="form-control" value="{{ article.user_content.title or '' | safe }}">
        </div>
        <div class="form-group">
            <label for="presentation">Présentation de l’article</label>
            <textarea name="presentation" class="form-control">{{ article.user_content.presentation or "" | safe }}</textarea>
        </div>

        <div class="form-group save-buttons">
            <a href="{{ request.resource_url(context.lecture_resource, 'amendements') }}" class="arrow-left">Retourner aux amendements</a>
            <input type="submit" name="submit" value="Enregistrer et passer à l’article suivant" class="button enabled primary">
        </div>

    </form>
{% endmacro %}
