{% extends "_base_edit.html" %}


{% block top %}
    <div class="title">
        <h2>{{ lecture.dossier_legislatif }}</h2>
        <h3>{{ lecture }}</h3>
    </div>
{% endblock %}

{% block secondary_header %}
    <nav class="nav secondary justify-content-between">
        <span class="nav-item">
            <a class="arrow-left" href="{{ request.resource_url(context) }}">Retourner à l’article</a>
        </span>
        <div>
            <h2>Journal des modifications</h2>
            <div>{{ article }}</div>
        </div>
        <span class="nav-item">
        </span>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <ul>
            {% for revision in article.revisions %}
                {% if revision.title != revision.next.title and revision.next.title %}
                    <li>
                        {{ revision.user.name }} a modifié le titre de {{ revision|render_diff("title") }}
                        <em>
                            <time xsi:type="xsd:dateTime"
                                datetime="{{ revision.created_at.isoformat() }}"
                                data-timestamp="{{ revision.created_at_timestamp }}">
                                    {{ revision.created_at.strftime("%A %d %B à %I:%M%p") }}
                            </time>
                        </em>
                    </li>
                {% endif %}
                {% if revision.presentation != revision.next.presentation and revision.next.presentation %}
                    <li>
                        {{ revision.user.name }} a modifié la présentation de {{ revision|render_diff("presentation") }}
                        <em>
                            <time xsi:type="xsd:dateTime"
                                datetime="{{ revision.created_at.isoformat() }}"
                                data-timestamp="{{ revision.created_at_timestamp }}">
                                    {{ revision.created_at.strftime("%A %d %B à %I:%M%p") }}
                            </time>
                        </em>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
