{% extends "_base_edit.html" %}


{% block top %}
    <div class="title">
        <h2>{{ lecture.dossier_legislatif }}</h2>
        <h3>{{ lecture }}</h3>
    </div>
{% endblock %}

{% block secondary_header %}
    <nav class="nav secondary justify-content-between">
        <span class="nav-item">
            <a class="arrow-left" href="{{ request.resource_url(context.lecture_resource, 'amendements') }}">Retourner aux amendements</a>
        </span>
        <div>
            <h2>{{ article }}</h2>
            {% if article.user_content.title %}
                <div>{{ article.user_content.title }}</div>
            {% endif %}
        </div>
        <span class="nav-item">
            <a class="arrow-right" href="{{ request.resource_url(context, 'article_journal') }}">Journal</a>
        </span>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm pl-0 mr-4">
                {{ content(article) }}
            </div>
            <div class="col-sm px-0">
                {{ form(article) }}
            </div>
        </div>
    </div>
{% endblock %}


{% macro content(article) %}
    {% if article.content %}
        <dl>
            {% for pastille, content in article.content.items() %}
                <dt>{{ pastille }}</dt>
                <dd>{{ content.strip('"') | safe }}</dd>
            {% endfor %}
        </dl>
    {% endif %}
{% endmacro %}


{% macro form(article) %}
    <form id="edit-article" action="{{ request.path }}" method="post" class="mt-3">
        <div class="form-group">
            <label for="title">Titre de l’article</label>
            <input name="title" class="form-control" value="{{ article.user_content.title or '' | safe }}">
        </div>
        <div class="form-group">
            <label for="presentation">Présentation de l’article</label>
            <textarea name="presentation" class="form-control">{{ article.user_content.presentation or "" | safe }}</textarea>
        </div>

        <div class="form-group save-buttons">
            <a href="{{ request.resource_url(context.lecture_resource, 'amendements') }}" class="arrow-left">Retourner aux amendements</a>
            <input type="submit" name="submit" value="Enregistrer et passer à l’article suivant" class="button enabled primary">
        </div>

    </form>
{% endmacro %}
