{% extends "_base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.bootstrap3.css') }}">
    <style type="text/css">
        h2 {
            text-align: center;
            margin: 2.5rem 0 1.5rem 0;
            font-weight: 600;
        }
    </style>
{% endblock %}

{% block body %}
    <form id="add-dossier" action="{{ request.path }}" method="POST">
        <h2>Ajouter un dossier</h2>
        <p>
            <big>
                Choisir ici le dossier législatif à ajouter à Zam. La liste ci-dessous correspond aux dossiers législatifs mis à disposition par les sites Internet du Parlement. Pour sélectionner le dossier recherché, il suffit de le choisir dans la liste déroulante ou de saisir directement dans la barre de recherche un mot correspondant au nom du dossier.
            </big>
        </p>
        <div class="form-group">
            <label for="dossier">Dossier législatif</label>
            <select id="select-dossier" name="dossier" class="form-control" placeholder="Choisir un dossier législatif…" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <option value="" selected="selected"></option>
                {% for dossier in available_dossiers %}
                    <option value="{{ dossier.slug }}">{{ dossier.titre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group save-buttons">
            <a href="{{ request.resource_url(context) }}" class="arrow-left">Retour</a>
            <input type="submit" name="submit" value="Ajouter le dossier" class="button enabled primary" disabled>
        </div>

    </form>
{% endblock %}

{% block scripts %}
<script src="{{ request.static_url('zam_repondeur:static/jquery/jquery-3.4.1.min.js') }}"></script>
<script src="{{ request.static_url('zam_repondeur:static/selectize/js/standalone/selectize.min.js') }}"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        $("#select-dossier").selectize({
            valueField: "slug",
            labelField: "titre",
            searchField: ["titre"],
            onInitialize: () => {
                $("#select-dossier-selectized").attr("spellcheck", "false")
            },
            onChange: (key) => {
                $("input[type=submit]").prop("disabled", (key === ""));
            },
        })
    })
</script>
{% endblock %}
