{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block header %}
<style type="text/css">
    main {
        max-width: 60rem;
        margin: 2rem auto;
    }
    h2 {
        margin: 4rem 0 2rem 2rem;
    }

    .dossier {
        margin: 2rem 0.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .dossier:first-child {
        margin-top: 2rem;
    }
    .dossier nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: right;
        margin-left: 2rem;
    }
    .dossier .details {
        line-height: 1.2;
    }
    .extra-button {
        justify-content: flex-end;
        margin-top: 1rem;
    }
        .extra-button a.button {
            color: #3167a6;
            border: 1px solid #3167a6;
        }
        .extra-button a.button:hover {
            background-color: #3167a6;
            color: white;
        }
    .contact {
        text-align: center;
    }
        .contact a.primary {
            margin: 2rem 1rem;
        }
</style>
{% endblock %}

{% block main_class %}{% endblock %}

{% block body %}
    {% if allowed_to_activate %}
    <div class="extra-button dossier box">
        <a class="button primary" href="{{ request.resource_url(context, 'add') }}">
            Activer un dossier
        </a>
    </div>
    {% endif %}
    <section>
        <h2>Mes Zams</h2>
        {% for dossier in dossiers %}
            <div class="dossier box">
                <h3><a href="{{ request.resource_url(context[dossier.url_key]) }}">{{ dossier.titre }}</a></h3>
            </div>
        {% else %}
            <div class="dossier box">
                <h3>Vous ne participez à aucun dossier législatif pour l’instant.</h3>
            </div>
        {% endfor %}
        <p class="contact">
            Si votre dossier législatif ne figure pas dans la liste, veuillez
            <a href="mailto:melodie.dahi@beta.gouv.fr?subject={{ "Demande de dossier Zam" | urlencode }}" class="button primary">
                contacter les administrateurs
            </a>
        </p>
    </section>
{% endblock %}
