{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block header %}
<style type="text/css">
    .icon {
        width: 1.8rem;
        margin-bottom: -.2rem;
    }
</style>
{% endblock %}

{% block top %}
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
     <defs>
         <symbol id="sync" viewBox="0 0 41 20">
             <path d="M25.65 4.35A7.958 7.958 0 0 0 20 2c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 20 16c-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L21 9h7V2l-2.35 2.35z"/>
         </symbol>
     </defs>
    </svg>
    <h2>Journal</h2>
    <nav class="justify-content-around">
        <a class="button" href="{{ request.resource_url(context, 'amendements') }}">←&nbsp;&nbsp;Retourner aux amendements</a>
        <form method="post" action="{{ request.resource_url(context, 'manual_refresh') }}" id="manual-refresh" class="float-right">
            <button type="submit" name="refresh" class="button">
                {{ macros.svg_icon("sync") }}
                Rafraichir manuellement
            </button>
        </form>
    </nav>
{% endblock %}


{% block body %}
    {% for item in journal %}
        <div class="alert alert-{{ item.kind }}" role="alert">
            {{ item.message }}
            <time class="float-right font-italic" xsi:type="xsd:dateTime"
                datetime="{{ item.created_at.isoformat() }}"
                data-timestamp="{{ item.created_at_timestamp }}">
                {{ item.created_at.strftime("%A %d %B à %I:%M%p") }}
            </time>
        </div>
    {% endfor %}
{% endblock %}
