{% extends "_base.html" %}


{% block top %}
    <h2>Journal</h2>
    <nav class="justify-content-around">
        <a class="button" href="{{ request.resource_url(context, 'amendements') }}">←&nbsp;&nbsp;Retourner aux amendements</a>
        <form method="post" action="{{ request.resource_url(context, 'manual_refresh') }}" id="manual-refresh" class="float-right">
            <button type="submit" name="refresh" class="button">
                <i class="fa fa-sync"></i>&nbsp;&nbsp;Rafraichir manuellement
            </button>
        </form>
    </nav>
{% endblock %}


{% block body %}
    {% for item in journal %}
        <div class="alert alert-{{ item.kind }}" role="alert">
            {{ item.message }}
            <time class="float-right font-italic" xsi:type="xsd:dateTime"
                datetime="{{ item.created_at.isoformat() }}"
                data-timestamp="{{ item.created_at_timestamp }}">
                {{ item.created_at.strftime("%A %d %B à %I:%M%p") }}
            </time>
        </div>
    {% endfor %}
{% endblock %}
