
{% extends "_base.html" %}


{% block header %}
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.bootstrap3.css') }}">
{% endblock %}


{% block breadcrumbs %}
    {{ super() }}
    <li class="breadcrumb-item active" aria-current="page">Ajouter une lecture...</li>
{% endblock %}


{% block body %}
    <h2>Ajouter une lecture...</h2>

    <form id="add-lecture" action="{{ request.path }}" method="POST">
        <div class="form-group">
            <label for="dossier">Dossier législatif</label>
            <select id="select-dossier" name="dossier" class="form-control" placeholder="Choisir un dossier législatif..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <option value="" selected="selected"></option>
                {% for dossier in dossiers %}
                    <option value="{{ dossier['uid'] }}">{{ dossier['titre'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="lecture">Lecture</label>
            <select id="select-lecture" name="lecture" class="form-control" placeholder="Choisir une lecture..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <option value="" selected="selected"></option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="Ajouter" class="btn btn-primary btn-lg" disabled>
            <a href="{{ request.resource_url(context) }}" class="btn">Annuler</a>
        </div>
    </form>

{% endblock %}


{% block scripts %}
<script src="{{ request.static_url('zam_repondeur:static/jquery/jquery-1.12.4.min.js') }}"></script>
<script src="{{ request.static_url('zam_repondeur:static/selectize/js/standalone/selectize.min.js') }}"></script>
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function() {

        var selectLectures = $("#select-lecture").selectize({
            valueField: "key",
            labelField: "label",
            onChange: function(key) {
                $("input[type=submit]").prop("disabled", (key === ""));
            },
        })[0];

        $("#select-dossier").selectize({
            valueField: "uid",
            labelField: "titre",
            searchField: ["titre"],
            onInitialize: function () {
                $("#select-dossier-selectized").attr("spellcheck", "false");
            },
            onChange: function(uid) {
                selectLectures.selectize.setValue("");
                selectLectures.selectize.clearOptions();
                if (uid === "") {
                    return;
                }
                $.ajax({
                    url: "{{ request.route_url('choices_lectures', uid='UID') }}".replace("UID", uid),
                    type: "GET",
                    error: function() {
                        alert("Impossible de récupérer la liste des lectures.\nMerci de réessayer plus tard !");
                    },
                    success: function(res) {
                        res.lectures.forEach(function(item) {
                            selectLectures.selectize.addOption(item);
                        })
                        selectLectures.selectize.refreshOptions();
                    }
                });
            }
        });
    });
</script>
{% endblock %}
