{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block nav %}{% endblock %}

{% block body %}
<a href="{{ request.resource_url(context, 'add') }}" class="btn btn-primary btn-lg float-right">
    <i class="fa fa-plus"></i>
    Ajouter une lecture
</a>

<h2>Lectures</h2>

{% for lecture in lectures %}
    <div class="card mt-5">
        <h3 class="card-header">
            <form method="post" action="{{ request.resource_url(context[lecture.url_key]) }}" id="delete-lecture" class="float-right">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                    Supprimer
                </button>
            </form>
            {{ lecture.dossier_legislatif }}
        </h3>
        <div class="card-body">
            <h4 class="card-title">
                {{ lecture }}
                {% if lecture.amendements %}
                    ({{ lecture.amendements|length }} amendements)
                {% endif %}
            </h4>
            <p class="card-text">
                {% if lecture.amendements %}
                    {% if lecture.displayable %}
                        <a class="btn btn-primary" href="{{ request.resource_url(context[lecture.url_key], 'reponses') }}" role="button" target="_blank">
                            <i class="fa fa-eye"></i>
                            Dossier de banc
                        </a>
                        <a class="btn btn-secondary" href="{{ request.resource_url(context[lecture.url_key], 'amendements') }}">
                            <i class="fa fa-pencil-alt"></i>
                            Gestion des réponses
                        </a>
                    {% else %}
                        Saisie de réponses requise.
                    {% endif %}
                {% else %}
                    Récupération des amendements requise.
                {% endif %}
            </p>
        </div>
        <div class="card-footer text-muted">
            {{ macros.update_informations(lecture, request.resource_url(context[lecture.url_key], 'manual_refresh')) }}
        </div>
    </div>
{% endfor %}
{% endblock %}
