{% extends "_base.html" %}


{% block header %}
<style type="text/css">
    .card {
        margin-bottom: 1rem;
    }
    h2 {
        margin-bottom: 1.25rem;
    }
    a.btn {
        margin-right: 0.75rem;
    }
    a.btn i.fa {
        margin-right: 0.5rem;
    }
</style>
{% endblock %}


{% block body %}
    <h2>{{ lecture }}</h2>

    {% if amendements_count %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Amendements</h4>
            </div>
            <div class="card-text">
                <p>{{ amendements_count }} amendements déposés.</p>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
