{% extends "_base_lecture.html" %}
{% import "macros.html" as macros %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/amendements.css') }}">
<style type="text/css">
    .box .box {
        margin: 4rem auto;
        max-width: 45rem;
    }
    .flex-line {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 1rem 1rem 4rem;
    }
        .flex-line > div {
            margin-right: 3rem;
        }
        .flex-line p {
            margin-bottom: 0;
        }
        .flex-line .button {
            min-width: 15rem;
            text-align: center;
            margin-top: 1rem;
        }
        .flex-line .button-sm {
            font-size: .9rem;
            min-width: 1rem;
            padding: 0.4rem 1rem 0.2rem 1rem;
        }
    .flex-line-sm {
        margin: 1rem;
    }
    .table {
        margin: 1rem;
        max-width: 39rem;
    }
    .table tbody tr td,
    .table tbody tr:first-child td {
        padding-top: .8rem;
    }
    .table td:last-child {
        text-align: right;
    }
    .btn-danger,
    .btn-danger:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .disabled {
        background: white;
    }
</style>
{% endblock %}

{% block body %}
{% include "svg-file-icons.html" %}
<h1>Options avancées</h1>
<div class="box" data-controller="multiple-clicks">
    <div class="flex-line">
        <div>
            <h3>Exporter un tableau</h3>
            <p>au format Excel, pour obtenir un tableau de RIM par exemple.</p>
        </div>
        <a class="button primary" data-action="multiple-clicks#prevent" href="{{ request.resource_url(context, 'download_amendements', query={'format': 'xlsx'}) }}">
            {{ macros.svg_icon("file-excel") }}
            Tableau
        </a>
    </div>

    <div class="flex-line">
        <div>
            <h3>Exporter un dossier</h3>
            <p>au format PDF, pour obtenir un dossier complet imprimable.</p>
        </div>
        <a class="button primary" data-action="multiple-clicks#prevent" href="{{ request.resource_url(context, 'download_amendements', query={'format': 'pdf'}) }}">
            {{ macros.svg_icon("file-pdf") }}
            Dossier
        </a>
    </div>

    <div class="flex-line">
        <div>
            <h3>Exporter un fichier technique structuré</h3>
            <p>au format JSON.</p>
        </div>
        <a class="button primary" data-action="multiple-clicks#prevent" href="{{ request.resource_url(context, 'download_amendements', query={'format': 'json'}) }}">
            {{ macros.svg_icon("file-archive") }}
            Fichier technique
        </a>
    </div>

</div>

<div class="box">
    <section data-target="amendements-options.details">
        <div class="flex-line" data-controller="filename">
            <div>
                <h3>Importer des saisies</h3>
                <p>
                    L’import de saisies permet, en une seule opération, de remplir les fiches de banc (avis, réponses, objet, etc) de plusieurs amendements, à partir d’un fichier Excel converti en CSV.
                    <a class="underlined" href="https://github.com/betagouv/zam/wiki/Sp%C3%A9cification-import-r%C3%A9ponses" target="_blank">
                        Cliquer ici pour consulter le guide dédié
                    </a>.
                </p>
            </div>
            <form action="{{ request.resource_url(context, 'import_csv') }}" enctype="multipart/form-data" method="post" id="import-form">
                <div class="custom-file">
                    <input type="file" data-action="filename#display" class="custom-file-input" id="reponses" name="reponses" required>
                    <label class="custom-file-label" for="reponses">Fichier CSV</label>
                </div>
                <div role="group">
                    <input type="submit" name="upload" class="button primary enabled centered" value="Importer">
                </div>
            </form>
        </div>

        <div class="flex-line" data-controller="filename">
            <div>
                <h3>Importer une liasse XML</h3>
                <p>Importer des amendements à partir d'un fichier XML provenant
                de l’Assemblée nationale.</p>
            </div>
            <form action="{{ request.resource_url(context, 'import_liasse_xml') }}" enctype="multipart/form-data" method="post" id="import-liasse-xml" class="align-items-center">
                <div class="custom-file">
                    <input type="file" data-action="filename#display" class="custom-file-input" id="liasse" name="liasse" required>
                    <label class="custom-file-label" for="liasse">Fichier XML</label>
                </div>
                <div role="group">
                    <input type="submit" name="upload" class="button primary enabled" value="Importer">
                </div>
            </form>
        </div>

        <div class="flex-line" data-controller="filename">
            <div>
                <h3>Importer un fichier technique structuré</h3>
                <p>L’import d’un JSON permet d’interfacer Zam avec un autre outil.</p>
            </div>
            <form action="{{ request.resource_url(context, 'import_backup') }}" enctype="multipart/form-data" method="post" id="backup-form">
                <div class="custom-file">
                    <input type="file" data-action="filename#display" class="custom-file-input" id="backup" name="backup" required>
                    <label class="custom-file-label" for="backup">Fichier JSON</label>
                </div>
                <div role="group">
                    <input type="submit" name="upload" class="button primary enabled centered" value="Importer">
                </div>
            </form>
        </div>
    </section>
</div>

<div id="shared-tables" class="box" data-controller="multiple-clicks">
    <div class="flex-line">
        <h3>Boîtes</h3>
        <a class="button primary enabled" href="{{ request.resource_url(context['boites'], 'add') }}">
            Créer une nouvelle boîte
        </a>
    </div>

    {% if shared_tables.count() %}
        <table class="table">
            <tbody>
                {% for shared_table in shared_tables %}
                    <tr>
                        <td>
                            {{ shared_table.titre }}
                            {% set amendements_nb=shared_table.nb_amendements %}
                            {% if amendements_nb %}
                                {% if amendements_nb == 1 %}
                                    (1 amendement)
                                {% else %}
                                    ({{ amendements_nb }} amendements)
                                {% endif %}
                            {% else %}
                                (aucun amendement)
                            {% endif %}
                        </td>
                        <td>
                            <a class="button button-sm primary" href="{{ request.resource_url(context['boites'], shared_table.slug) }}">
                                Éditer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="flex-line">
            Aucune boîte n’a été créée.
            Créer une boîte permet de personnaliser l’organisation du travail pour cette lecture
            (exemples : boîte « validé cabinet », boîte « visa directrice ok »).
        </p>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
<script src="{{ request.static_url('zam_repondeur:static/js/amendements.js') }}"></script>
{% endblock %}
