{% extends "_base.html" %}


{% block header %}
<style type="text/css">
    .card {
        margin-bottom: 1rem;
    }
    h2 {
        margin-bottom: 1.25rem;
    }
    a.btn {
        margin-right: 0.75rem;
    }
    a.btn i.fa {
        margin-right: 0.5rem;
    }
</style>
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ request.resource_url(context.__parent__) }}">Lectures</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ lecture.dossier_legislatif }} → {{ lecture }}</li>
{% endblock %}


{% block body %}
    <h2>{{ lecture }}</h2>

    {% if amendements_count %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Amendements</h4>
            </div>
            <div class="card-text">
                <p>{{ amendements_count }} amendements déposés.</p>
                <p>
                    <a class="btn btn-primary" href="{{ request.resource_url(context['amendements']) }}">Consulter la liste</a>
                    {% if lecture.displayable %}
                        <a class="btn btn-primary" href="{{ request.resource_url(context, 'reponses') }}" target="_blank">Visualiser les réponses</a>
                    {% endif %}
                    <form method="post" action="{{ request.resource_url(context, 'fetch_articles') }}" id="retrieve-textes">
                        <input type="submit" name="fetch" class="btn btn-primary" value="Récupérer le texte des articles">
                    </form>
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    {% with verbe = "Mettre à jour" if amendements_count else "Récupérer" %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>{{ verbe }} les amendements</h4>
            </div>
            <div class="card-text">
                <p>{{ verbe }} les amendements déposés depuis le site
                {% if lecture.chambre == 'an' -%}
                    de l’Assemblée nationale
                {%- else %}
                    du Sénat
                {%- endif -%}
                .</p>
                <form method="POST" action="{{ request.resource_url(context, 'fetch_amendements') }}">
                    <input type="submit" class="btn btn-primary" value="{{ verbe }}">
                </form>
            </div>
        </div>
    </div>
    {% endwith %}

    {% if amendements_count %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Télécharger un tableau</h4>
            </div>
                <p>Télécharger un tableau de tous les amendements déposés, triés par ordre de passage.</p>
                <a class="btn btn-primary" href="{{ request.resource_url(context, 'download_amendements', query={'format': 'csv'}) }}"><i class="fa fa-table"></i>Télécharger (CSV)</a>
                <a class="btn btn-primary" href="{{ request.resource_url(context, 'download_amendements', query={'format': 'xlsx'}) }}"><i class="fa fa-file-excel"></i>Télécharger (Excel)</a>
                <a class="btn btn-primary" href="{{ request.resource_url(context, 'download_amendements', query={'format': 'pdf'}) }}"><i class="fa fa-file-pdf"></i>Télécharger (PDF)</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card text-white bg-danger">
        <div class="card-body">
            <div class="card-title">
                <h4>⚠️ Zone de danger</h4>
            </div>
                <form method="post" action="" id="delete-lecture">
                    <input type="submit" class="btn btn-light btn-sm" value="Supprimer la lecture ainsi que tous les amendements et réponses associés">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
