{% macro update_informations(lecture, journal_link) %}
    Dernière mise à jour :
    <a class="underlined" href="{{ journal_link }}">
        <time xsi:type="xsd:dateTime"
            datetime="{{ lecture.modified_at.isoformat() }}"
            data-timestamp="{{ lecture.modified_at_timestamp }}">
                {{ lecture.modified_at.strftime("%A %d %B à %I:%M%p") }}
        </time>
    </a>
{% endmacro %}

{% macro multiple_amendements_title(amendements) %}
    {% set amendement = amendements[0] %}
    {% set parent = amendement.parent %}
    {% set length = amendements|length %}
    Amendement{% if length > 1 %}s{% endif %}
    {% if length > 5 -%}
        {{ amendements[0] }},
        {{ amendements[1] }},
        …,
        {{ amendements[-3] }},
        {{ amendements[-2] }} et
        {{ amendements[-1] }}
        ({{ length }} au total)
    {%- else -%}
        {% for amendement in amendements -%}
            {{ amendement }}{% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
        {%- endfor %}
    {%- endif -%}
    {% if parent %} (sous-amendement au {{ parent }}){% endif %}
{% endmacro %}
