{% macro update_informations(item, journal_link) %}
    Dernière mise à jour :
    <a class="underlined" href="{{ journal_link }}">
        <time xsi:type="xsd:dateTime"
            datetime="{{ item.modified_at.isoformat() }}"
            data-timestamp="{{ item.modified_at_timestamp }}">
                {{ item.modified_at.strftime("%A %d %B à %I:%M%p") }}
        </time>
    </a>
{% endmacro %}

{% macro journal_line(is_first, event) %}
    <li>
        <em>
            <time xsi:type="xsd:dateTime"
                datetime="{{ event.created_at.isoformat() }}"
                data-timestamp="{{ event.created_at_timestamp }}">
                    {{ event.created_at.strftime("%A %d %B à %I:%M%p") }}
            </time>
        </em>
        <span class="icon">
            {% if event.icon %}
                <i class="icon-{{ event.icon }}"></i>
            {% endif %}
        </span>
        <details {% if is_first or not event.details_template %}open{% endif %}>
            <summary>{{ event.render_summary() }}</summary>
            {% if event.details_template %}
                {{ event.render_details() }}
            {% endif %}
        </details>
    </li>
{% endmacro %}

{% macro svg_icon(name) %}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#{{ name }}"></use>
    </svg>
{% endmacro %}

{% macro multiple_amendements_title(amendements) %}
    {% set amendement = amendements[0] %}
    {% set parent = amendement.parent %}
    {% set length = amendements|length %}
    Amendement{% if length > 1 %}s{% endif %}
    {% if length > 5 -%}
        {{ amendements[0] }},
        {{ amendements[1] }},
        …,
        {{ amendements[-3] }},
        {{ amendements[-2] }} et
        {{ amendements[-1] }}
        ({{ length }} au total)
    {%- else -%}
        {% for amendement in amendements -%}
            {{ amendement }}{% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
        {%- endfor %}
    {%- endif -%}
    {% if parent %} (sous-amendement au {{ parent }}){% endif %}
{% endmacro %}
