{% macro render_table(tableau) -%}
<table class="credits">
    <caption>(en euros)</caption>
    <thead>
        <tr>
            <th>Programmes</th>
            <th>+</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        {% for programme in tableau.programmes %}
            <tr>
                <td>{{ programme.libelle }}</td>
                <td>{{ programme.pos|safe }}</td>
                <td>{{ programme.neg|safe }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Totaux</td>
            <td>{{ tableau.totaux.pos|safe }}</td>
            <td>{{ tableau.totaux.neg|safe }}</td>
        </tr>
        <tr>
            <td>Solde</td>
            <td colspan="2">{{ tableau.solde|safe }}</td>
        </tr>
    </tbody>
</table>
{%- endmacro %}

{%- if cp_only -%}
<p>Modifier ainsi les crédits de paiement :</p>
{{ render_table(cp) }}
{% elif ae_only -%}
<p>Modifier ainsi les autorisations d’engagement :</p>
{{ render_table(ae) }}
{% elif ae_cp_different -%}
<p>I. Modifier ainsi les autorisations d’engagement :</p>
{{ render_table(ae) }}
<p>II. Modifier ainsi les crédits de paiement :</p>
{{ render_table(cp) }}
{% else -%}
<p>Modifier ainsi les autorisations d’engagement et les crédits de paiement :</p>
{{ render_table(ae) }}
{% endif %}
