{%- macro article_page(article) -%}
  <section class="page article">
    <h2>
      {{ article.format(short=False) }}
    </h2>
    {% if article.titre %}
      <h3>{{ article.titre }}</h3>
    {% endif %}
    {% if article.contenu %}
      <div>
        {% for number, content in article.contenu.items() %}
          <dl>
            <dt>{{ number }}</dt>
            <dd>
              <p>{{ content.strip('"') | safe }}</p>
            </dd>
          </dl>
        {% endfor %}
      </div>
    {% endif %}
  </section>
  {% if article.jaune %}
    <section class="page jaune">
      <h2>Présentation de l’article</h2>
      <h3>{{ article.format(short=True) }}</h3>
      <h3>{{ article.titre }}</h3>
      <div>
        {{ article.jaune | safe }}
      </div>
    </section>
  {% endif %}
{%- endmacro %}


{%- macro response_page(amendements) -%}
  {% set multiple = amendements|length > 1 %}
  {% set amendement = amendements[0] %}
  {% if amendement.avis or amendement.observations or amendement.has_reponse %}
    <section class="page reponse">
      <h2>Réponse</h2>
      <table class="cartouche">
        <tr>
          <td>Article</td>
          <td>{{ amendement.article.format(short=True) }}</td>
        </tr>
        {% if amendement.parent %}
          <tr>
            <td>Amendement</td>
            <td>{{ amendement.parent.num_disp }}</td>
          </tr>
          <tr>
            <td>Sous-amendement{% if multiple %}s{% endif %}</td>
            <td>
              {% for amendement in amendements %}
                {{ amendement.num_disp }}{% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td>Amendement{% if multiple %}s{% endif %}</td>
            <td>
              {% if amendements|length > 5 -%}
                {{ amendements[0] }},
                {{ amendements[1] }},
                …,
                {{ amendements[-3] }},
                {{ amendements[-2] }} et
                {{ amendements[-1] }}
                ({{ amendements|length }} au total)
              {%- else -%}
                {% for amendement in amendements -%}
                  {{ amendement.num_disp }}{% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
                {%- endfor %}
              {%- endif %}
            </td>
          </tr>
        {% endif %}
        <tr>
          <td>Auteur{% if multiple %}s{% endif %}</td>
          <td>
            {% if amendement.gouvernemental %}
              Gouvernement
            {% else %}
              {% for auteur, _ in amendements|groupby('auteur') -%}
                {% if loop.previtem is defined and auteur != loop.previtem or loop.previtem is not defined -%}
                  {{ auteur }}{% if loop.revindex == 2 and loop.nextitem != auteur %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
                {%- endif %}
              {%- endfor %}
            {% endif %}
          </td>
        </tr>
        {% if not amendement.gouvernemental %}
          <tr>
            <td>Groupe{% if multiple %}s{% endif %}</td>
            <td>
              {% for groupe, _ in amendements|groupby('groupe') -%}
                {% if loop.previtem is defined and groupe != loop.previtem or loop.previtem is not defined -%}
                  {{ groupe }}{% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
                {%- endif %}
              {%- endfor %}
            </td>
          </tr>
          <tr>
            <td>Avis</td>
            <td>{{ amendement.avis }}</td>
          </tr>
        {% endif %}
      </table>
      <div>
        {% if amendement.has_observations %}
          <h3>Objet :</h3>
          {{ amendement.observations | paragriphy }}
        {% endif %}
        {% if amendement.has_reponse %}
          <h3>Réponse :</h3>
          {{ amendement.reponse | paragriphy }}
        {% endif %}
      </div>
    </section>
  {% endif %}
{%- endmacro %}

{%- macro amendement_page(amendement) -%}
  <section class="page amendement">
    {% if amendement.parent %}
      <h2>Sous-amendement nº {{ amendement.num_disp }}</h2>
    {% else %}
      <h2>Amendement nº {{ amendement.num_disp }}</h2>
    {% endif %}
    <table class="cartouche">
      <tr>
        <td>Article</td>
        <td>{{ amendement.article.format(short=True) }}</td>
      </tr>
      {% if amendement.parent %}
        <tr>
          <td>Amendement</td>
          <td>{{ amendement.parent.num_disp }}</td>
        </tr>
        <tr>
          <td>Sous-amendement</td>
          <td>{{ amendement.num_disp }}</td>
        </tr>
      {% else %}
        <tr>
          <td>Amendement</td>
          <td>{{ amendement.num_disp }}</td>
        </tr>
      {% endif %}
      {% if amendement.gouvernemental %}
        <tr>
          <td>Auteur</td>
          <td>Gouvernement</td>
        </tr>
      {% else %}
        <tr>
          <td>Auteur</td>
          <td>{{ amendement.auteur }}</td>
        </tr>
        <tr>
          <td>Groupe</td>
          <td>{{ amendement.groupe }}</td>
        </tr>
      {% endif %}
      {% if amendement.sort %}
        <tr>
          <td>Sort</td>
          <td>{{ amendement.sort }}</td>
        </tr>
      {% endif %}
    </table>
    <div>
      <h3>Exposé :</h3>
      {{ amendement.objet|safe }}
      <h3>Corps de l’amendement :</h3>
      {{ amendement.dispositif|safe }}
    </div>
  </section>
{%- endmacro %}
