{% import 'print_macros.html' as macros %}
<!doctype html>
<html lang=fr>
<head>
  <meta charset=utf-8>
</head>
<body>
  <div class="first-page page">
    <h1>{{ lecture.dossier_legislatif }}</h1>
    <h2>{{ lecture }}</h2>
  </div>
  <main>
    {% for article in lecture.articles|sort %}
      {{ macros.article_page(article) }}
      {% for amendements in article.grouped_displayable_amendements() %}
        {# Insert sous-amendements before amendements:
           excluded from main loop and then prepend if found. #}
        {% if not amendements[0].parent %}
          {% for amendement in amendements %}
            {% if amendement.children %}
              {% for children_amendements in article.group_amendements(amendement.children) %}
                {{ macros.response_page(children_amendements) }}
                {% for child in children_amendements %}
                  {{ macros.amendement_page(child) }}
                {% endfor %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          {{ macros.response_page(amendements) }}
          {% for amendement in amendements %}
            {{ macros.amendement_page(amendement) }}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </main>
</body>
