{% extends "_base_edit.html" %}
{% import "macros.html" as macros %}

{% block header %}
    {{ super() }}
    <style type="text/css">
        /* Two-column layout */
        main {
            display: flex;
            flex-direction: row;
        }
        main > section {
            flex-basis: 50%;
            margin: 0 5rem;
            max-width: calc(50% - 8rem);
        }
        main > section:first-child {
            margin-right: 3rem;
        }
        main > section:last-child {
            margin-left: 3rem;
        }
        main > section > div {
            margin-bottom: 2rem;
        }

        /* Headers with line-through */
        h4 {
          overflow: hidden;
          text-align: center;
          font-weight: 600;
          margin-bottom: 1.25rem;
        }
            h4:before,
            h4:after {
              background-color: #9b9b9b;
              content: "";
              display: inline-block;
              height: 1px;
              position: relative;
              vertical-align: middle;
              width: 50%;
            }
            h4:before {
              right: 0.5em;
              margin-left: -50%;
            }
            h4:after {
              left: 0.5em;
              margin-right: -50%;
            }

        /* Link to article */
        h5 a {
            text-decoration: underline;
        }

        .button.secondary {
            border-color: #3167a6;
            color: #3167a6;
            background: white;
        }
            .button.secondary:hover {
                border-color: #3167a6;
                color: white;
                background: #3167a6;
            }

        #prefill-reponse {
            margin-bottom: 2rem;
        }
            #prefill-reponse .save-buttons {
                justify-content: flex-end;
                align-items: baseline;
            }
            #prefill-reponse #cancel {
                margin-right: 1.5rem;
            }

        #edit-reponse .save-buttons {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            background: white;
            padding: 1rem;
        }
    </style>
{% endblock %}


{% block top %}
    <div class="title">
        <h2>Amendement nº&nbsp;{{ amendement }}</h2>
        {% if amendement.parent %}
            <h3>Sous-amendement au {{ amendement.parent }}</h3>
        {% endif %}
        - {{ amendement.article.format() }} -
        <div class="auteur">
            {% if amendement.auteur %}
                Présenté par {{ amendement.auteur }}
                {%- if not amendement.gouvernemental %}
                    ({{ amendement.groupe }})
                {% endif %}
            {% elif amendement.is_abandoned_before_seance %}
                {% if amendement.is_withdrawn %}
                    <h3>Cet amendement a été retiré</h3>
                {% else %}
                    <h3>Cet amendement est irrecevable</h3>
                {% endif %}
            {% endif %}
        </div>
        {% if amendement.identique %}
            {% set identiques = amendement.all_identiques %}
            {% set identiques_length = identiques|length %}
            <p>
                <em>
                    Identique {% if identiques_length > 1 %}aux{% else %}à{% endif %}
                    {% for identique in identiques -%}
                        <a href="{{ request.resource_url(context.parent[identique.num_str], 'reponse') }}">{{ identique }}</a>
                        {% if identique.full_reponse() != amendement.full_reponse() %}
                            <span title="Cet amendement identique n’a pas une réponse similaire">⚠️</span>
                        {% endif %}
                        {% if loop.revindex == 2 and identiques_length > 1 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
                    {%- endfor %}
                </em>
            </p>
        {% endif %}
    </div>
{% endblock %}


{% block secondary_header %}
    <nav class="nav secondary justify-content-between">
        <span class="nav-item">
            <a class="arrow-left" href="{{ back_url }}">Retourner aux amendements</a>
        </span>
        <span class="nav-item">
            {% if amendement.is_displayable %}
                <a class="arrow-right" href="{{ request.resource_url(context.parent.parent['articles'][amendement.article.url_key], 'reponses', anchor=amendement.slug) }}" target="_blank">Visualiser dans le dossier</a>
            {% endif %}
        </span>
    </nav>
{% endblock %}


{% block body %}
    <section class="amendement">
        {{ content(amendement) }}
    </section>
    <section class="reponse">
        {{ form(amendement) }}
    </section>
{% endblock %}


{% macro content(amendement) %}
    <div class="objet">
        <h4>Exposé</h4>
        {% if amendement.objet %}
            {{ amendement.objet | safe }}
        {% else %}
            <i>Néant</i>
        {% endif %}
    </div>
    <div class="dispositif">
        <h4>Corps de l’amendement</h4>
        <h5><a href="{{ request.resource_url(context.parent.parent['articles'][amendement.article.url_key]) }}" target="_blank">{{ amendement.article.format() }}</a></h5>
        {{ amendement.dispositif | safe }}
    </div>
{% endmacro %}


{% macro form(amendement) %}

    {% if not amendement.gouvernemental %}
        <h4>Réutiliser</h4>
        <form id="prefill-reponse" action="" method="POST" class="mt-3">
            <div class="form-group" style="margin-bottom: 1.5rem">
                <label for="autofill">Remplir à partir de…</label>
                <select name="autofill" class="form-control">
                    <option value="">Choisir dans la liste…</option>
                    {% for reponse, amendements in reponses %}
                        {% if amendement not in amendements %}
                            <option value="{{ loop.index }}"
                                    data-reponse-avis="{{ reponse.avis }}"
                                    data-reponse-observations="{{ reponse.observations }}"
                                    data-reponse-content="{{ reponse.content }}">
                                {{ macros.multiple_amendements_title(amendements) }}
                                {% if amendements[0].is_redactionnel %}
                                    (rédactionnel)
                                {% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group save-buttons">
                <a href="" id="cancel">Annuler</a>
                <input type="submit" name="submit" value="Remplir"
                    class="button allow-multiple-submit secondary">
            </div>
        </form>
    {% endif %}

    <h4>
        {% if not amendement.gouvernemental %}
            Répondre
        {% else %}
            Présentation
        {% endif %}
    </h4>

    <form id="edit-reponse" action="{{ submit_url }}" method="POST" class="mt-3">

        {% if not amendement.gouvernemental %}
        <div class="form-group">
            <label for="avis">Position du gouvernement</label>
            <select name="avis" class="form-control">
                <option value="">Choisir dans la liste…</option>
                {% for value in avis %}
                    <option value="{{ value }}" {%- if amendement.avis == value %} selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="observations">Objet de l’amendement</label>
            <textarea name="observations" class="form-control">{{ amendement.observations or "" | safe }}</textarea>
        </div>

        <div class="form-group">
            <label for="reponse">
                {% if not amendement.gouvernemental %}
                    Réponse à l’amendement
                {% else %}
                    Présentation de l’amendement
                {% endif %}
            </label>
            <textarea name="reponse" class="form-control">{{ amendement.reponse or "" | safe }}</textarea>
        </div>

        <div class="form-group">
            <label for="affectation">Affectation</label>
            <input name="affectation" class="form-control" value="{{ amendement.affectation or '' }}">
        </div>

        <div class="form-group">
            <label for="comments">Commentaires</label>
            <textarea name="comments" class="form-control">{{ amendement.comments or "" | safe }}</textarea>
        </div>

        <div class="form-group save-buttons">
            <a href="{{ back_url }}" class="arrow-left">Retourner aux amendements</a>
            <input type="submit" name="submit" value="Enregistrer et retourner aux amendements" class="button enabled primary">
        </div>

    </form>
{% endmacro %}

{% block extra_scripts %}
{% if not amendement.gouvernemental %}
    <script type="text/javascript">
        window.onload = () => {
            // Wait for iframes to be loaded.
            setTimeout(() => {
                const prefillForm = document.querySelector('form#prefill-reponse')
                const editReponseForm = document.querySelector('form#edit-reponse')
                const initialAvis = editReponseForm.querySelector('option:checked')
                    .value
                const observationsWindow = document.querySelector(
                    'iframe#observations_ifr'
                ).contentWindow
                const observationsBody = observationsWindow.document.body
                const initialObservation = observationsBody.innerHTML
                const reponseWindow = document.querySelector('iframe#reponse_ifr')
                    .contentWindow
                const reponseBody = reponseWindow.document.body
                const initialReponse = reponseBody.innerHTML
                prefillForm.addEventListener('submit', e => {
                    e.preventDefault()
                    const data = new FormData(e.target)
                    const index = data.get('autofill')
                    const option = e.target.querySelector(
                        `select[name="autofill"] option[value="${index}"]`
                    )
                    editReponseForm.querySelector(
                        `option[value="${option.dataset.reponseAvis}"]`
                    ).selected = true
                    observationsBody.innerHTML = option.dataset.reponseObservations
                    reponseBody.innerHTML = option.dataset.reponseContent
                })
                document.querySelector('#cancel').addEventListener('click', e => {
                    e.preventDefault()
                    editReponseForm.querySelector(
                        `option[value="${initialAvis}"]`
                    ).selected = true
                    observationsBody.innerHTML = initialObservation
                    reponseBody.innerHTML = initialReponse
                })
            }, 1)
        }
    </script>
{% endif %}
{% endblock %}
