{% extends "_base_edit.html" %}


{% block header %}
    {{ super() }}
    <style type="text/css">
        main {
            display: flex;
            flex-direction: row;
        }
        main > section {
            flex-basis: 50%;
            margin: 0 5rem;
        }
        main > section:first-child {
            margin-right: 3rem;
        }
        main > section:last-child {
            margin-left: 3rem;
        }
        main > section > div {
            margin-bottom: 2rem;
        }

        /* Headers with line-through */
        h4 {
          overflow: hidden;
          text-align: center;
          font-weight: 600;
          margin-bottom: 1.25rem;
        }
        h4:before,
        h4:after {
          background-color: #9b9b9b;
          content: "";
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          width: 50%;
        }
        h4:before {
          right: 0.5em;
          margin-left: -50%;
        }
        h4:after {
          left: 0.5em;
          margin-right: -50%;
        }
    </style>
{% endblock %}


{% block top %}
    <div class="title">
        <h2>{{ lecture.dossier_legislatif }}</h2>
        <h3>{{ lecture }}</h3>
    </div>
{% endblock %}


{% block secondary_header %}
    <nav class="nav secondary justify-content-between">
        <span class="nav-item">
            <a class="arrow-left" href="{{ back_url }}">Retourner aux amendements</a>
        </span>
        <div>
            <h2>Amendement nº&nbsp;{{ amendement.num_disp }}</h2>
            {% if amendement.parent %}
                <h3>Sous-amendement au {{ amendement.parent.num_disp }}</h3>
            {% endif %}
            <div class="auteur">
                {% if amendement.auteur %}
                    Présenté par {{ amendement.auteur }}
                    {%- if not amendement.gouvernemental %}
                        ({{ amendement.groupe }})
                    {% endif %}
                {% elif amendement.is_abandoned_before_seance %}
                    {% if amendement.retire_avant_seance %}
                        <h3>Cet amendement a été retiré avant séance</h3>
                    {% else %}
                        <h3>Cet amendement est irrecevable</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <span class="nav-item">
            {% if amendement.is_displayable %}
                <a class="arrow-right" href="{{ request.resource_url(context.parent.parent['articles'][amendement.article.url_key], 'reponses', anchor=amendement.slug) }}" target="_blank">Visualiser dans le dossier</a>
            {% endif %}
        </span>
    </nav>
{% endblock %}


{% block body %}
    <section class="amendement">
        {{ content(amendement) }}
    </section>
    <section class="reponse">
        {{ form(amendement) }}
    </section>
{% endblock %}


{% macro content(amendement) %}
    <div class="objet">
        <h4>Exposé</h4>
        {% if amendement.objet %}
            {{ amendement.objet | safe }}
        {% else %}
            <i>Néant</i>
        {% endif %}
    </div>
    <div class="dispositif">
        <h4>Corps de l’amendement</h4>
        <h5>{{ amendement.article.format() }}</h5>
        {{ amendement.dispositif | safe }}
    </div>
{% endmacro %}


{% macro form(amendement) %}
    <h4>
        {% if not amendement.gouvernemental %}
        Réponse
        {% else %}
        Présentation
        {% endif %}
    </h4>

    <form id="edit-reponse" action="{{ submit_url }}" method="POST" class="mt-3">

        {% if not amendement.gouvernemental %}
        <div class="form-group">
            <label for="avis">Position du gouvernement</label>
            <select name="avis" class="form-control">
                <option value="">Choisir dans la liste...</option>
                {% for value in avis %}
                    <option value="{{ value }}" {%- if amendement.avis == value %} selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="observations">Objet de l’amendement</label>
            <textarea name="observations" class="form-control">{{ amendement.observations or "" | safe }}</textarea>
        </div>

        {% if not amendement.gouvernemental %}
        <div class="form-group">
            <label for="reponse">Réponse à l’amendement</label>
            <textarea name="reponse" class="form-control">{{ amendement.reponse or "" | safe }}</textarea>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="comments">Commentaires</label>
            <textarea name="comments" class="form-control">{{ amendement.comments or "" | safe }}</textarea>
        </div>

        <div class="form-group save-buttons">
            <a href="{{ back_url }}" class="arrow-left">Retourner aux amendements</a>
            <input type="submit" name="submit" value="Enregistrer et retourner aux amendements" class="button enabled primary">
        </div>

    </form>
{% endmacro %}
