{% extends "_base.html" %}

{% block header %}
<style type="text/css">
    h2 {
        text-align: center;
        margin: 2rem;
    }
    .box {
        text-align: center;
    }
    .box p:last-child {
        margin-bottom: 0;
    }
    .amendement-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .amendement-card p {
            margin: .4rem 0;
        }
        .amendement-card-infos {
            max-width: 40rem;
        }
        .amendement-card-avis {
            min-width: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
</style>
{% endblock %}

{% block extra_nav %}
    <li {% if owner == request.user %}class="selected"{% endif %}>
        <a href="{{ request.resource_url(context.parent, request.user.email) }}">
            Ma table
        </a>
    </li>
    <li>
        <a href="{{ request.resource_url(context.lecture_resource, 'amendements') }}">
            Le radar
        </a>
    </li>
{% endblock %}

{% block body %}
    <h2>Table de {{ owner }}</h2>
    {% for amendement in amendements %}
        <div class="box amendement-card">
            <div class="amendement-card-infos">
                <p>{{ amendement.article.format() }} - Nº&nbsp;<strong>{{ amendement }}</strong></p>
                <p>{{ amendement.user_content.objet or "" }}</p>
                <p><em>{{ amendement.groupe }} ({{ amendement.auteur }})</em></p>
            </div>
            <div class="amendement-card-avis">
                <p>
                    Avis :
                    {% if is_owner %}
                        <a href="{{ request.resource_url(context.parent.parent['amendements'][amendement.num_str], 'amendement_edit') }}">{{ amendement.user_content.avis or "Aucun" }}</a>
                    {% else %}
                        {{ amendement.user_content.avis or "Aucun" }}
                    {% endif %}
                </p>
                <form action="{{ request.resource_url(context.parent, request.user.email) }}" method="POST">
                    <input type="hidden" name="num" value="{{ amendement.num }}">
                    <select name="target">
                        {% if is_owner %}
                            <option selected value="{{ request.user.email }}">Au radar</option>
                        {% else %}
                            <option selected value="{{ request.user.email }}">À moi ({{ request.user.name }})</option>
                            <option value="{{ request.user.email }}">Au radar</option>
                        {% endif %}
                        {% for user in users %}
                            <option value="{{ user.email }}">À {{ user }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="button" value="Transférer">
                </form>
            </div>
        </div>
    {% else %}
        <div class="box">
            {% if owner == request.user %}
                <p>Il n’y a aucun amendement sur votre table pour l’instant.</p>
                <p>Vous pouvez aller sur <a href="{{ radar_url }}">le radar</a> pour prendre des amendements flottants et les placer sur votre table.</p>
            {% else %}
                <p>Il n’y a aucun amendement sur cette table pour l’instant.</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
