{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block header %}
<style type="text/css">
    h1 {
        margin-bottom: 2rem;
    }
    .box {
        margin: 0 3rem 2rem 3rem;
        padding: 1rem;
    }
    .notice {
        margin: 3rem;
    }
        .notice h3 {
            margin: 1rem 0 2rem 0;
        }
        .notice nav {
            padding: 0 1rem;
            text-align: right;
        }
            .notice nav a {
                font-size: 1.4rem;
                padding-right: 2rem;
                background-image: url("{{ request.static_url('zam_repondeur:static/img/big_right.svg') }}");
                background-position: center;
                background-repeat: no-repeat;
                background-position: right 33%;
                background-size: 0.9rem;
            }
    .amendement-card {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
        .amendement-card p {
            margin: 1rem 0;
        }
        .amendement-card-infos {
            flex-basis: 40rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
            .amendement-card-infos .article {
                font-style: italic;
                text-decoration: underline;
            }
            .amendement-card-infos .numero {
                font-weight: 600;
            }
            .amendement-card-infos .auteur {
                font-style: italic;
            }
        .amendement-card-avis {
            flex-basis: 13rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            white-space: nowrap;
        }
            .amendement-card-avis .button {
                margin: 0.5rem;
            }
            .amendement-card-avis .icon.favorable {
                color: #83d524;
            }
            .amendement-card-avis .icon.sagesse {
                color: #6db4ff;
            }
            .amendement-card-avis .icon.defavorable {
                color: #d0021b;
            }
            .amendement-card-avis a.avis {
                color: inherit;
                text-decoration: underline;
            }
</style>
{% endblock %}

{% block extra_nav %}
    <li {% if owner == request.user %}class="selected"{% endif %}>
        <a href="{{ table_url }}">
            Ma table
        </a>
    </li>
    <li>
        <a href="{{ index_url }}">
            Index
        </a>
    </li>
{% endblock %}

{% block body %}
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="person" viewBox="0 0 13 14">
                <path d="M6.5 6.588c1.796 0 3.25-1.474 3.25-3.294S8.296 0 6.5 0 3.25 1.474 3.25 3.294 4.704 6.588 6.5 6.588zm0 1.647c-2.17 0-6.5 1.288-6.5 3.843V14h13v-1.922c0-2.555-4.33-3.843-6.5-3.843z"/>
            </symbol>
            <symbol id="edit" viewBox="0 0 22 22">
                <path d="M2.67 18.045l.644 3.658 3.658-.645 8.884-12.689-4.302-3.012L2.67 18.045zM18.637 4.87a1.088 1.088 0 0 0-.268-1.518l-2.962-2.074a1.088 1.088 0 0 0-1.517.268L12.27 3.862l4.747 3.324 1.622-2.316z"/>
            </symbol>
        </defs>
    </svg>
    <h1>Ma table</h1>
    {% for amendement in amendements %}
        <div class="box amendement-card">
            <div class="amendement-card-infos">
                <div class="entete">
                    <span class="article">{{ amendement.article.format() }}</span>
                    -
                    Nº&nbsp;<span class="numero">{{ amendement }}</span>
                </div>
                <div class="objet">
                    {{ amendement.user_content.objet | paragriphy }}
                </div>
                <div class="auteur">
                    {{ macros.svg_icon("person") }}
                    {{ amendement.groupe }} ({{ amendement.auteur }})
                </div>
            </div>
            <div class="amendement-card-avis">
                <div>
                    {% if is_owner %}
                        {% set edit_url = request.resource_url(context.parent.parent['amendements'][amendement.num_str], 'amendement_edit') %}
                        {% if amendement.user_content.avis %}
                            {% if amendement.user_content.favorable %}
                                {% set icon_class = "favorable" %}
                            {% elif amendement.user_content.sagesse %}
                                {% set icon_class = "sagesse" %}
                            {% else %}
                                {% set icon_class = "defavorable" %}
                            {% endif %}
                            {{ macros.svg_icon("edit", icon_class) }}
                            <a class="avis" href="{{ edit_url }}">
                                {{ amendement.user_content.avis }}
                            </a>
                        {% else %}
                            <a class="primary button enabled" href="{{ edit_url }}">Donner un avis</a>
                        {% endif %}
                    {% else %}
                        {{ amendement.user_content.avis or "Aucun" }}
                    {% endif %}
                </div>
                <form action="{{ request.resource_url(context.parent, request.user.email) }}" method="POST" id="release-amendement">
                    <input type="hidden" name="nums" value="{{ amendement.num }}">
                    <input type="hidden" name="target" value="">
                    <input type="submit" name="submit" class="button" value="Libérer">
                    <a href="{{ request.resource_url(context.parent.parent, 'transfer_amendements') }}?nums={{ amendement.num }}" class="button primary">Transférer</a>
                </form>
            </div>
        </div>
    {% else %}
        <div class="notice">
            {% if owner == request.user %}
                <h3>Votre table est vide…</h3>
                <nav>
                    <a href="{{ index_url }}">Récupérer des amendements sur l'index</a>
                </nav>
            {% else %}
                <p>Il n’y a aucun amendement sur cette table pour l’instant.</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
