{% extends "_base.html" %}

{% block body %}

<a href="{{ request.route_url('textes_add') }}" class="btn btn-primary btn-lg" style="float: right">Ajouter un texte...</a>

<h2>Textes</h2>

{% if textes %}
    <ul>
        {% for texte in textes %}
        <li class="card">
            <div class="card-body">
                <h5 class="card-title">{{ texte }}</h5>
                <div class="card-text">
                    <div><a href="{{ request.route_url('amendements_csv', chambre=texte.chambre, session=texte.session, num_texte=texte.num_texte) }}"><i class="fas fa-table"></i> Amendements (CSV)</a></div>
                    <div><a href="{{ request.route_url('amendements_xlsx', chambre=texte.chambre, session=texte.session, num_texte=texte.num_texte) }}"><i class="far fa-file-excel"></i> Amendements (Excel)</a></div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun texte pour l'instant.</p>
{% endif %}

{% endblock %}