{% extends "_base.html" %}

{% block header %}
    <style type="text/css">
        h2 {
            text-align: center;
            margin: 2.5rem 0 1.5rem 0;
            font-weight: 600;
        }
        label {
            font-weight: 600;
        }
        .form-group {
            margin-top: 2.5rem;
        }
    </style>
{% endblock %}

{% block body %}
    <form id="add-texte" action="{{ request.path }}" method="POST">
        <h2>Ajouter un texte</h2>

        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" name="titre" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="contenu">Contenu</label>
            <textarea name="contenu" class="form-control editable" rows="20"></textarea>
        </div>

        <div class="form-group save-buttons">
            <a href="{{ request.resource_url(context) }}" class="arrow-left">Retour</a>
            <input type="submit" name="submit" value="Ajouter le texte" class="button enabled primary">
        </div>

    </form>
{% endblock %}


{% block scripts %}
    <script src="{{ request.static_url('zam_repondeur:static/tinymce-5-1-1/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea.editable',
            language: 'fr_FR',
            menubar: false,
            plugins: 'lists fullscreen paste table',
            toolbar:
                'undo redo | formatselect | bold italic removeformat | bullist numlist | table | cut copy paste | fullscreen',
            branding: false,
            elementpath: false,
            content_style: 'p, li { line-height: 1.5; margin: 1em 0; }',
            block_formats: 'Paragraphe=p;Titre=h3',
            browser_spellcheck: true,
        })
    </script>
{% endblock %}
