{% extends "_base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.bootstrap3.css') }}">
    <style type="text/css">
        form {
            width: 40rem;
            margin: 0 auto;
        }
            form * {
                width: 100%;
            }
            form h2 {
                margin: 2.5rem 0;
                font-weight: 600;
                text-align: center;
            }
            form h3 {
                margin: 3rem 0;
                font-weight: 600;
                text-align: center;
            }
            form label {
                display: block;
                font-weight: 600;
            }
            form input[type="submit"] {
                margin-top: 3rem;
                text-align: center;
            }
    </style>
{% endblock %}

{% block extra_nav %}
    <li>
        <a href="{{ request.resource_url(context['tables'], request.user.email) }}">
            Ma table
        </a>
    </li>
    <li>
        <a href="{{ request.resource_url(context['amendements']) }}">
            Index
        </a>
    </li>
    {% if lecture.displayable %}
        <li>
            <a href="{{ request.resource_url(context['articles']) }}" target="_blank">
                Le dossier de banc
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <form id="transfer-amendements" action="{{ request.resource_url(context['tables'], request.user.email) }}" method="POST">
        <h2>
            Transférer
            {% if amendements|length > 1 %}
                les amendements
            {% else %}
                l’amendement
            {% endif %}
            {% for amendement in amendements %}
                <a href="{{ request.resource_url(context['amendements'][amendement.num_str], 'amendement_edit') }}">{{ amendement }}</a>
                <input type="hidden" name="nums" value="{{ amendement.num }}">
                {% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
            {% endfor %}
        </h2>
        <div>
            {% if show_transfer_to_index %}
                <input type="submit" name="submit-index" value="Transférer à l’index" class="button primary enabled">
            {% endif %}
            {% if show_transfer_to_myself %}
                <input type="submit" name="submit-table" value="Transférer sur ma table" class="button primary enabled">
            {% endif %}
        </div>
        <h3 class="line-through">Ou</h3>
        <div>
            <label for="target">Destinataire :</label>
            <select id="target" name="target" required>
                <option selected></option>
                {% for user in users %}
                    <option value="{{ user.email }}">{{ user }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" name="submit" value="Transférer" class="button primary">
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script src="{{ request.static_url('zam_repondeur:static/jquery/jquery-1.12.4.min.js') }}"></script>
<script src="{{ request.static_url('zam_repondeur:static/selectize/js/standalone/selectize.min.js') }}"></script>
<script type="text/javascript">
    ;(_ => $("#target").selectize())()
</script>
{% endblock %}
