{% extends "_base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('zam_repondeur:static/selectize/css/selectize.bootstrap3.css') }}">
    <style type="text/css">
        h3.line-through {
            margin: 2rem auto;
            width: 40rem;
            font-size: 1.5rem;
        }
        form {
            width: 35rem;
            margin: 2rem auto;
        }
            form *:not(.amendements *) {
                width: 100%;
            }
            form .amendements {
                margin-bottom: 1rem;
            }
                form .amendements li {
                    display: flex;
                    align-items: baseline;
                }
                    form .amendements input[type="checkbox"] {
                        margin: .5rem 1rem .5rem 1rem;
                        transform: scale(1.5);
                    }
                    form .amendements label {
                        margin: .5rem 1rem .5rem 0;
                        font-weight: normal;
                    }
                        form .amendements a {
                            text-decoration: underline;
                        }
            form label {
                display: block;
                margin: 0;
                font-size: 1.1rem;
                font-weight: 600;
            }
            form input[type="submit"] {
                text-align: center;
                margin: 1.5rem 0;
            }
            form input[type="submit"].enabled {
                width: 12rem;
            }
            form input[type="submit"]:not(.enabled) {
                width: 22rem;
            }
            form#transfer-amendements {
                margin-top: 4rem;
            }
                form#transfer-amendements .buttons {
                    text-align: right;
                }
            form#transfer-amendements-custom .buttons {
                text-align: center;
            }
            form details {
                margin-bottom: 2rem;
            }
            form summary {
                margin-left: 3rem;
                margin-bottom: 1rem;
                font-size: 1.3rem;
            }
        nav.back {
            margin-top: 3rem;
            font-weight: 600;
        }
    </style>
{% endblock %}

{% block extra_nav %}
    <li>
        <a href="{{ request.resource_url(context['tables'], request.user.email) }}">
            Ma table
        </a>
    </li>
    <li>
        <a href="{{ request.resource_url(context['amendements']) }}">
            Index
        </a>
    </li>
    {% if lecture.displayable %}
        <li>
            <a href="{{ request.resource_url(context['articles']) }}" target="_blank">
                Dossier de banc
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        Transférer
        {% if amendements|length > 1 %}
            les amendements
        {% else %}
            l’amendement
        {% endif %}
    </h1>
    <form id="transfer-amendements" action="{{ request.resource_url(context['tables'], request.user.email) }}" method="POST">
        {% if amendements_with_table %}
            <details open>
                <summary>
                    {{ amendements_with_table|length }} amendement{% if amendements_with_table|length > 1 %}s{% endif %} sont déjà sur des tables
                </summary>
                <ul class="amendements">
                    {% for amendement in amendements_with_table|sort(attribute="user_table") %}
                        {% set amendement_user = amendement.user_table.user %}
                        <li>
                            <input type="checkbox" name="nums" value="{{ amendement.num }}" id="amendement-{{ amendement.num }}" {% if amendement_user == request.user or not amendement_user.is_active %}checked{% endif %}>
                            <label for="amendement-{{ amendement.num }}">
                                Nº&nbsp;<a href="{{ request.resource_url(context['amendements'][amendement.num_str], 'amendement_edit') }}">{{ amendement }}</a> —
                                {% if amendement_user == request.user %}
                                    Cet amendement est sur votre table
                                {% elif amendement_user.is_active %}
                                    <nobr class="user active" title="Activité dans les {{ amendement_user.INACTIVE_AFTER }} dernières minutes"><span></span> {{ amendement_user }}</nobr>
                                {% else %}
                                    <nobr class="user inactive" title="Inactivité au cours des {{ amendement_user.INACTIVE_AFTER }} dernières minutes"><span></span> {{ amendement_user }}</nobr>
                                {% endif %}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        {% endif %}
        {% if amendements_without_table %}
            <details>
                <summary>
                    {{ amendements_without_table|length }} amendement{% if amendements_without_table|length > 1 %}s{% endif %} sont sur l’index
                </summary>
                <ul class="amendements">
                    {% for amendement in amendements_without_table %}
                        <li>
                            <input type="checkbox" name="nums" value="{{ amendement.num }}" id="amendement-{{ amendement.num }}" checked>
                            <label for="amendement-{{ amendement.num }}">
                                Nº&nbsp;<a href="{{ request.resource_url(context['amendements'][amendement.num_str], 'amendement_edit') }}">{{ amendement }}</a> —
                                Cet amendement est sur l’index
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        {% endif %}
        {% if from_index %}
            <input type="hidden" name="from_index" value="{{ from_index }}">
        {% endif %}
        <div>
            <label for="target">Destinataire</label>
            <select id="target" name="target" required>
                <option selected></option>
                {% if show_transfer_to_myself %}
                    <option value="{{ request.user.email }}">Moi — {{ request.user }}</option>
                {% endif %}
                {% for user in users %}
                    <option value="{{ user.email }}">{{ user }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="buttons">
            <input type="submit" name="submit" value="Transférer" class="button primary enabled">
        </div>
    </form>
    {% if show_transfer_to_index %}
        <h3 class="line-through">ou</h3>
        <form id="transfer-amendements-custom" action="{{ request.resource_url(context['tables'], request.user.email) }}" method="POST">
            {% for amendement in amendements %}
                <input type="hidden" name="nums" value="{{ amendement.num }}">
            {% endfor %}
            {% if from_index %}
                <input type="hidden" name="from_index" value="{{ from_index }}">
            {% endif %}
            <div class="buttons">
                <input type="submit" name="submit-index" value="Transférer à l’index" class="button primary">
            </div>
        </form>
    {% endif %}
    <nav class="back">
        <a href="{{ back_url }}" class="arrow-left">
            {% if from_index %}
                Retourner à l'index
            {% else %}
                Retourner à ma table
            {% endif %}
        </a>
    </nav>
{% endblock %}

{% block scripts %}
<script src="{{ request.static_url('zam_repondeur:static/jquery/jquery-1.12.4.min.js') }}"></script>
<script src="{{ request.static_url('zam_repondeur:static/selectize/js/standalone/selectize.min.js') }}"></script>
<script type="text/javascript">
    ;(_ => $("#target").selectize())()
</script>
{% endblock %}
