<!doctype html>
<html lang=fr>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,minimum-scale=1,initial-scale=1,shrink-to-fit=no">
<title>{{ dossier_legislatif }} — {{ lecture }}</title>
<link rel=icon href="data:;base64,iVBORw0KGgo=">
<link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/visionneuse.css') }}">
{# See https://inclusive-components.design/notifications/ #}
<div role="status" aria-live="polite"></div>
<header class="main">
  <h1>{{ dossier_legislatif }}</h1>
  <h2>{{ lecture }}</h2>
  <form method="get" role="search" action="">
    <input name="q" id="q" type="number" min="1" step="1" required placeholder="Numéro">
    <input type="submit" name="submit" value="↓ Aller à l’amendement">
    <p class="error hide">Amendement non trouvé.</p>
  </form>
</header>
<main>
  {% for article in articles.values() %}
    {% if article.id == current_article.num and article.multiplicatif == current_article.mult and article.instance.pos == current_article.pos %}
    <section id="{{ article.slug }}">
      <header class="for-article">
        <div class="wrapper">
          <button class="hamburger hamburger--arrowturn-down-90-right" type="button">
            <span class="hamburger-label">Articles</span><br>
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <div class="titles">
            <h2>
              {%- if article.type_ == "article" -%}
                Article {{ article }}
              {%- elif article.type_ -%}
                {{ article.type_.capitalize() }}s
              {%- endif -%}
            </h2>
            {% if article.titre == "TODO" %}
              <h3>{{ loop.previtem.titre or "" }}</h3>
            {% else %}
              <h3>{{ article.titre or "" }}</h3>
            {% endif %}
          </div>
          {% if article.alineas or article.jaune %}
            <a href="#{{ article.slug }}"
               class="button"
               data-toggle-target="content-{{ article.slug }}"
              >Texte</a>
          {% endif %}
        </div>
      </header>
      <div class="is-hidden">
        <div id="content-{{ article.slug }}" class="article">
          {% if article.jaune %}
            <h2>Éléments de langage</h2>
            {{ article.jaune | safe }}
          {% endif %}
          {% if article.alineas %}
            <h2>Texte de l’article</h2>
            {% for number, content in article.alineas.items() %}
              <dl>
                <dt>{{ number }}</dt>
                <dd>
                  <p>{{ content.strip('"') | safe }}</p>
                </dd>
              </dl>
            {% endfor %}
          {% endif %}
          <p class="bottom">
            <a class="button arrow arrow-up" href="#{{ article.slug }}">Replier</a>
          </p>
        </div>
      </div>
      {% for reponse, amendements in article.reponses.items() %}
        {% set is_gouvernemental = amendements[0].gouvernemental %}
        {% set parent = amendements[0].parent %}
        <article{% if is_gouvernemental %} class="gouvernemental"{% endif %}{% if parent %} class="sous-amendement"{% endif %}>
          <span class="fake-anchor" id="amendement-{{ amendements[0].pk }}"></span>
          {% if reponse.favorable %}
            {% set avis_class = 'positive' %}
          {% elif reponse.sagesse %}
            {% set avis_class = 'sagesse' %}
          {% elif is_gouvernemental %}
            {% set avis_class = 'gouvernemental' %}
          {% else %}
            {% set avis_class = 'negative' %}
          {% endif %}
          {% set multiple = amendements|length > 1 %}
          <header class="reponse {{ avis_class }}">
            <div
            {%- for amendement in amendements %}
              data-amendement-{{ amendement.id }}="{{ amendement }}"
            {% endfor -%}
            data-anchor="amendement-{{ amendements[0].pk }}"
            >
              <a href="#amendement-{{ amendements[0].pk }}"
                 class="button"
                 data-toggle-target="amendement-detail-{{ amendements[0].pk }}">
                Texte
              </a>
              <h2>
                Amendement{% if multiple %}s{% endif %}
                {% if amendements|length > 5 %}
                  {{ amendements[0] }},
                  {{ amendements[1] }},
                  ...,
                  {{ amendements[-3] }},
                  {{ amendements[-2] }} et
                  {{ amendements[-1] }}
                  ({{ amendements|length }} au total)
                {% else %}
                  {% for amendement in amendements %}
                    {{ amendement }}{% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
                  {% endfor %}
                {% endif %}
                {% if parent %} (sous-amendement au {{ parent }}){% endif %}
              </h2>
              {% if reponse.presentation|length < 200 %}
                <div class="presentation">
                  {{ reponse.presentation | paragriphy }}
                </div>
              {% endif %}
              {% if is_gouvernemental %}
                <p class="authors"><span class="author">Gouvernement</span></p>
              {% else %}
                <p class="authors">
                  {% for amendement in amendements %}
                    {% if loop.previtem is defined and amendement.auteur != loop.previtem.auteur or loop.previtem is not defined %}
                      <span class="author">
                        {{ amendement.auteur }}
                        {% if amendement.groupe and amendement.groupe.libelle -%}
                          ({{ amendement.groupe.libelle }}
                          {%- if amendement.groupe.couleur != "#ffffff" %}
                            <span class="group-color" style="background-color: {{ amendement.groupe.couleur }};"></span>
                          {%- endif %})
                        {%- endif %}{% if not loop.last and loop.nextitem.auteur != amendement.auteur %}, {% endif %}
                      </span>
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
            </div>
            {% if is_gouvernemental %}
              <div class="gouvernemental">
                <a href="#amendement-{{ amendements[0].pk }}"
                   class="button gouvernemental"
                   data-toggle-target="reponse-detail-{{ amendements[0].pk }}">
                  Voir la présentation
                </a>
              </div>
            {% else %}
              <hr>
              <div>
                <a href="#amendement-{{ amendements[0].pk }}"
                   class="button"
                   data-toggle-target="reponse-detail-{{ amendements[0].pk }}">
                  Réponse
                </a>
                <p>Avis : <span class="avis {{ avis_class }}">{{ reponse.avis }}</span></p>
              </div>
            {% endif %}
          </header>
          <div class="is-hidden">
            <div id="reponse-detail-{{ amendements[0].pk }}" class="reponse-detail {{ avis_class }}{% if is_gouvernemental %} gouvernemental{% endif %}">
              <h4>Objet</h4>
              <div class="reponse-presentation">
                {{ reponse.presentation | paragriphy }}
              </div>
              {% if reponse.content.strip() and reponse.content != '<p></p>' %}
                <h4>Réponse</h4>
                {{ reponse.content | paragriphy }}
              {% endif %}
              <p class="bottom">
                <a class="button arrow arrow-up" href="#amendement-{{ amendements[0].pk }}">
                  Replier
                </a>
              </p>
            </div>
          </div>
          <div class="is-hidden">
            <div id="amendement-detail-{{ amendements[0].pk }}"
                 class="amendement-detail {{ avis_class }}">
              {% for amendement in amendements %}
                {% if multiple %}
                  <h3>
                    Amendement {{ amendement.id }}
                    — {{ amendement.auteur }}
                    {% if amendement.groupe and amendement.groupe.libelle -%}
                      <small>({{ amendement.groupe.libelle }}
                        <span class="group-color" style="background-color: {{ amendement.groupe.couleur }};"></span>)</small>
                    {%- endif %}
                  </h3>
                {% endif %}
                <div>
                  <h4>Exposé</h4>
                  {{ amendement.objet|safe }}
                  <h4>Corps de l’amendement</h4>
                  {{ amendement.dispositif|safe }}
                </div>
              {% endfor %}
              <p class="bottom">
                <a class="button arrow arrow-up" href="#amendement-{{ amendements[0].pk }}">
                  Replier
                </a>
              </p>
            </div>
          </div>
        </article>
      {% endfor %}
    </section>
    {% endif %}
  {% endfor %}
</main>

<template id="menu">
  <div class="menu">
    {% for article in articles.values() %}
      {# Once data are cleaner, use the groupby jinja filter here. #}
      {% if loop.previtem is defined and loop.previtem != article or loop.previtem is not defined %}
        {% if loop.previtem is defined and loop.previtem.titre != article.titre and article.titre not in ("TODO", "") or loop.previtem is not defined and article.titre %}
          <p><strong>{{ article.titre }} :</strong>
        {% endif %}
        <a href="{{ request.resource_url(context.parent, article.url_key, 'reponses') }}">
          {%- if article.type_ == "article" -%}
            Art. {{ article }}
          {%- elif article.type_ -%}
            {{ article.type_.capitalize() }}s
          {%- endif -%}
        </a>
        {% if loop.nextitem is defined and loop.nextitem.titre != article.titre and loop.nextitem.titre not in ("TODO", "") or loop.nextitem is not defined %}
          </p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</template>
<script src="{{ request.static_url('zam_repondeur:static/js/visionneuse.js') }}"></script>
<script>
  ;(function notifyOnUpdates () {
    const delay = 1000 * 30 /* seconds. */
    const timestamp = {{ timestamp }}
    function displayNotificationUpdate () {
      const message = '<p>De nouvelles informations sont disponibles, <a href=>rafraîchir</a> !</p>'
      document.querySelector('[role="status"]').innerHTML = message
    }
    function check () {
      const options = {
        credentials: 'include'
      }
      fetch('{{ check_url }}', options)
        .then(reponse => reponse.json())
        .then(json => {
          if (json.modified_at !== timestamp)
            displayNotificationUpdate()
        })
    }
    setInterval(check, delay)
  })()
</script>
</html>
