{% extends "_base_visionneuse.html" %}

{% block title %}
  <section id="{{ article.slug }}">
    <header>
      <div class="wrapper">
        <div class="titles">
          <h2>{{ article.format(short=False) }}</h2>
        </div>
        {% if article.contenu or article.jaune %}
          <a href="#content-{{ article.slug }}"
             class="button"
             data-toggle-target="content-{{ article.slug }}"
            >Texte</a>
        {% endif %}
      </div>
    </header>
  </section>
{% endblock %}

{% block secondary_nav %}
  <nav class="secondary">
    {% if previous_article %}
      <a class="arrow-left" href="{{ request.resource_url(context.parent, previous_article.url_key, 'reponses') }}">{{ previous_article.format() }}</a>
    {% else %}
      <span></span>  {# placeholder so that the "next" link gets positioned properly #}
    {% endif %}
    {% if next_article %}
      <a class="arrow-right" href="{{ request.resource_url(context.parent, next_article.url_key, 'reponses') }}">{{ next_article.format() }}</a>
    {% endif %}
  </nav>
  <div class="is-none">
    <span class="fake-anchor" id="content-{{ article.slug }}"></span>
    <div class="article">
      <h2 class="article-title">{{ article.titre or "" }}</h2>
      {% if article.jaune %}
        <h3>Présentation de l’article</h3>
        {{ article.jaune | safe }}
      {% endif %}
      {% if article.contenu %}
        <h3>Texte de l’article</h3>
        {% for number, content in article.contenu.items() %}
          <dl>
            <dt>{{ number }}</dt>
            <dd>
              <p>{{ content.strip('"') | safe }}</p>
            </dd>
          </dl>
        {% endfor %}
      {% endif %}
      <p class="bottom">
        <a class="button arrow arrow-up" href="#{{ article.slug }}">Replier</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block main %}
  <section>
    {% for amendements in article.grouped_displayable_amendements() %}
      {% set amendement = amendements[0] %}
      {% set is_gouvernemental = amendement.gouvernemental %}
      {% set parent = amendement.parent %}
      <article{% if is_gouvernemental %} class="gouvernemental"{% endif %}{% if parent %} class="sous-amendement"{% endif %}>
        {% for amdt in amendements %}
          <span class="fake-anchor" id="{{ amdt.slug }}"></span>
        {% endfor %}
        {% if amendement.favorable %}
          {% set avis_class = 'positive' %}
        {% elif amendement.sagesse %}
          {% set avis_class = 'sagesse' %}
        {% elif is_gouvernemental %}
          {% set avis_class = 'gouvernemental' %}
        {% else %}
          {% set avis_class = 'negative' %}
        {% endif %}
        {% set multiple = amendements|length > 1 %}
        <header class="reponse {{ avis_class }}">
          <div
          {%- for amendement in amendements %}
            data-amendement-{{ amendement.num }}="{{ amendement }}"
          {% endfor -%}
          data-anchor="{{ amendement.slug }}"
          >
            <a href="#{{ amendement.slug }}"
               class="button"
               data-toggle-target="amendement-detail-{{ amendement.num }}">
              Texte
            </a>
            <h2>
              Amendement{% if multiple %}s{% endif %}
              {% if amendements|length > 5 %}
                {{ amendements[0] }},
                {{ amendements[1] }},
                ...,
                {{ amendements[-3] }},
                {{ amendements[-2] }} et
                {{ amendements[-1] }}
                ({{ amendements|length }} au total)
              {% else %}
                {% for amendement in amendements %}
                  {{ amendement.num_disp }}{% if loop.revindex == 2 %} et {% else %}{% if not loop.last %}, {% endif %}{% endif %}
                {% endfor %}
              {% endif %}
              {% if parent %} (sous-amendement au {{ parent }}){% endif %}
            </h2>
            {% if amendement.observations and (amendement.observations|length < 200) %}
              <div class="presentation">
                {{ amendement.observations | paragriphy }}
              </div>
            {% endif %}
            {% if is_gouvernemental %}
              <p class="authors"><span class="author">Gouvernement</span></p>
            {% else %}
              <p class="authors">
                {% for amendement in amendements %}
                  {% if loop.previtem is defined and amendement.auteur != loop.previtem.auteur or loop.previtem is not defined %}
                    <span class="author">
                      {{ amendement.auteur }}
                      {% if amendement.groupe -%}
                        ({{ amendement.groupe }}
                        {%- if amendement.couleur_groupe != "#ffffff" %}
                          <span class="group-color" style="background-color: {{ amendement.couleur_groupe }};"></span>
                        {%- endif %})
                      {%- endif %}{% if not loop.last and loop.nextitem.auteur != amendement.auteur %}, {% endif %}
                    </span>
                  {% endif %}
                {% endfor %}
              </p>
            {% endif %}
          </div>
          {% if is_gouvernemental %}
            <div class="gouvernemental">
              <a href="#{{ amendement.slug }}"
                 class="button gouvernemental"
                 data-toggle-target="reponse-detail-{{ amendement.num }}">
                Voir la présentation
              </a>
            </div>
          {% else %}
            <hr>
            <div>
              <a href="#{{ amendement.slug }}"
                 class="button"
                 data-toggle-target="reponse-detail-{{ amendement.num }}">
                Réponse
              </a>
              <p>Avis : <span class="avis {{ avis_class }}">{{ amendement.avis }}</span></p>
            </div>
          {% endif %}
        </header>
        <div class="is-none">
          <div id="reponse-detail-{{ amendement.num }}" class="reponse-detail {{ avis_class }}{% if is_gouvernemental %} gouvernemental{% endif %}">
            <h4>Objet</h4>
            <div class="reponse-presentation">
              {{ amendement.observations | paragriphy }}
            </div>
            {% if amendement.reponse and amendement.reponse.strip() and amendement.reponse != '<p></p>' %}
              <h4>Réponse</h4>
              <div>
                {{ amendement.reponse | paragriphy }}
              </div>
            {% endif %}
            <p class="bottom">
              <a class="button arrow arrow-up" href="#{{ amendement.slug }}">
                Replier
              </a>
            </p>
          </div>
        </div>
        <div class="is-none">
          <div id="amendement-detail-{{ amendement.num }}"
               class="amendement-detail {{ avis_class }}">
            {% for amendement in amendements %}
              {% if multiple %}
                <h3>
                  Amendement {{ amendement.num }}
                  — {{ amendement.auteur }}
                  {% if amendement.groupe -%}
                    <small>({{ amendement.groupe }}
                      <span class="group-color" style="background-color: {{ amendement.couleur_groupe }};"></span>)</small>
                  {%- endif %}
                </h3>
              {% endif %}
              <div>
                <h4>Exposé</h4>
                {{ amendement.objet|safe }}
                <h4>Corps de l’amendement</h4>
                {{ amendement.dispositif|safe }}
              </div>
            {% endfor %}
            <p class="bottom">
              <a class="button arrow arrow-up" href="#{{ amendement.slug }}">
                Replier
              </a>
            </p>
          </div>
        </div>
      </article>
    {% endfor %}
  </section>
{% endblock %}

{% block bottom_nav %}
  {% if article.grouped_displayable_amendements() | list %}
    <nav class="bottom secondary">
      {% if previous_article %}
        <a class="arrow-left" href="{{ request.resource_url(context.parent, previous_article.url_key, 'reponses') }}">{{ previous_article.format() }}</a>
      {% else %}
        <span></span>  {# placeholder so that the "next" link gets positioned properly #}
      {% endif %}
      {% if next_article %}
        <a class="arrow-right" href="{{ request.resource_url(context.parent, next_article.url_key, 'reponses') }}">{{ next_article.format() }}</a>
      {% endif %}
    </nav>
  {% endif %}
{% endblock %}

{% block extra_scripts %}
<script>
  ;(function notifyOnUpdates () {
    const delay = 1000 * 30 /* seconds. */
    const timestamp = {{ timestamp }}
    function displayNotificationUpdate () {
      const message = '<p>De nouvelles informations sont disponibles, <a href=>rafraîchir</a> !</p>'
      document.querySelector('[role="status"]').innerHTML = message
    }
    function check () {
      const options = {
        credentials: 'include'
      }
      fetch('{{ check_url }}', options)
        .then(reponse => reponse.json())
        .then(json => {
          if (json.modified_at !== timestamp)
            displayNotificationUpdate()
        })
    }
    setInterval(check, delay)
  })()
</script>
{% endblock %}
</html>
