{% extends "_base2.html" %}


{% block main %}
<h1>C’est votre première connexion…</h1>
<form method="POST" class="intro">
    <fieldset>
        {% if request.session.pop('missing_name', None) %}
            <p class="error">La saisie d’un nom est requise.</p>
        {% endif %}
        <label for="name">Quel est votre nom ?</label>
        <input type="text" name="name" value="{{ name }}" required autocomplete="name">
    </fieldset>
    <input type="submit" value="Entrer">
</form>
{% endblock %}
