{% extends "_base.html" %}

{% block header %}
<style type="text/css">
    h2 {
        text-align: center;
        margin: 2.5rem 0 1.5rem 0;
        font-weight: 600;
    }
    .form-group {
        text-align: center;
        margin: 5rem 0 3rem;
        font-size: 1.5rem;
    }
        .form-group input {
            margin-left: 1rem;
        }
</style>
{% endblock %}

{% block body %}
    <form id="add-whitelist" action="{{ request.path }}" method="POST">
        <h2>Ajout d’une personne ou d’un groupe de personnes</h2>
        <div class="form-group">
            <label for="email_pattern">Adresse de courriel ou modèle d’adresse</label>
            <input type="text" name="email_pattern" required>
        </div>

        <div class="form-group save-buttons">
            <a href="{{ request.resource_url(context) }}" class="arrow-left">Retour</a>
            <input type="submit" name="submit" value="Ajouter" class="button enabled primary">
        </div>
    </form>
{% endblock %}
