[Unit]
Description=Zam Web Application
Requires=postgresql.service redis-server.service
After=network.target postgresql.service redis-server.service

[Service]
Type=simple
User=repondeur
WorkingDirectory=/srv/repondeur/src/repondeur/
ExecStart=/srv/repondeur/venv/bin/gunicorn --paste production.ini --paste-global app=zam_webapp
Restart=on-failure

[Install]
WantedBy=multi-user.target
