{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block header %}
<style type="text/css">
    main {
        max-width: 60rem;
        margin: 2rem auto;
    }
    h2 {
        margin: 4rem 0 2rem 2rem;
    }
    .texte {
        margin: 2rem 0.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .texte:first-child {
        margin-top: 2rem;
    }
    .texte nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: right;
        margin-left: 2rem;
    }
    .texte nav a {
        background: no-repeat right center url("{{ request.static_url('zam_repondeur:static/img/big_right.svg') }}");
    }
    .texte nav a {
        font-size: 1.1rem;
        padding-right: 1.8rem;
        background-position: 99% 42%;
        background-size: 5%;
    }
    .texte nav a:first-child {
        font-size: 1.7rem;
        padding-right: 2rem;
        background-position: right 40%;
        background-size: 7%;
    }
    .texte .details {
        line-height: 1.2;
    }
    .extra-button {
        text-align: center;
        margin-top: 1rem;
    }
        .extra-button a.button {
            color: #3167a6;
            border: 1px solid #3167a6;
        }
        .extra-button a.button:hover {
            background-color: #3167a6;
            color: white;
        }
</style>
{% endblock %}

{% block main_class %}{% endblock %}

{% block body %}
    <section>
        <h2>Conseil {{ conseil }}</h2>
        {% for lecture in lectures %}
            <div class="texte box">
                <h3>{{ lecture.dossier.titre }}</h3>
                <nav>
                    <a href="{{ request.resource_url(request.root['dossiers'][lecture.dossier.slug]['lectures'][lecture.url_key]['amendements']) }}">
                        Accéder à ce texte
                    </a>
                </nav>
            </div>
        {% else %}
            <div class="texte box">
                <h3>Aucun texte pour l’instant.</h3>
            </div>
        {% endfor %}
    </section>
    <div class="extra-button box">
        <a class="button primary" href="{{ request.resource_url(context, 'add') }}">
            Ajouter un texte
        </a>
    </div>
{% endblock %}
