{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block header %}
<style type="text/css">
    main {
        max-width: 60rem;
        margin: 2rem auto;
    }
    h2 {
        margin: 4rem 0 2rem 2rem;
    }
    h3 {
        line-height: normal;
    }

    .seance {
        margin: 2rem 0.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .seance:first-child {
        margin-top: 2rem;
    }
    .seance nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: right;
        margin-left: 2rem;
    }
    .seance nav a {
        background: no-repeat right center url("{{ request.static_url('zam_repondeur:static/img/big_right.svg') }}");
    }
    .seance nav a {
        font-size: 1.1rem;
        padding-right: 1.8rem;
        background-position: 99% 42%;
        background-size: 5%;
    }
    .seance nav a:first-child {
        font-size: 1.7rem;
        padding-right: 2rem;
        background-position: right 40%;
        background-size: 7%;
    }
    .seance .details {
        line-height: 1.2;
    }
    .extra-button {
        justify-content: center;
        margin-top: 1rem;
    }
        .extra-button a.button {
            color: var(--main-accent-color);
            border: 1px solid var(--main-accent-color);
        }
        .extra-button a.button:hover {
            background-color: var(--main-accent-color);
            color: white;
        }
    .contact {
        text-align: center;
    }
        .contact a.primary {
            margin: 2rem 1rem;
        }
</style>
{% endblock %}

{% block main_class %}{% endblock %}

{% block body %}
    <section>
        <h2>Séances de conseils</h2>
        {% for seance in seances %}
            <div class="seance box">
                <div>
                    <h3>{{ seance.chambre.name }} du {{ seance.date.strftime("%x") }}</h3>
                    <p>{{ seance.chambre.value }} &mdash; {{ seance.formation.value }}</p>
                </div>
                <nav>
                    <a href="{{ request.resource_url(context, seance.slug) }}">
                        Accéder à cette séance
                    </a>
                </nav>
            </div>
        {% else %}
            <div class="seance box">
                <h3>Aucune séance pour l’instant.</h3>
            </div>
        {% endfor %}
    </section>
    {% if can_create_seance %}
        <div class="extra-button seance box">
            <a class="button primary" href="{{ request.resource_url(context, 'add') }}">
                Ajouter une séance
            </a>
        </div>
    {% endif %}
{% endblock %}
