version: 2
workflows:
  version: 2
  all:
    jobs:
      - repondeur:
          filters:
            branches:
              ignore:
                # ignore branches created by autorebase https://github.com/tibdex/autorebase
                - /rebase-pull-request-.*/
                - /cherry-pick-rebase-pull-request-.*/
jobs:
  repondeur:
    docker:
      - image: circleci/python:3.6-stretch-browsers
        environment:
          ZAM_TEST_DB_URL: postgresql://postgres@localhost/circle_test
      - image: circleci/postgres:10.6-alpine-ram
      - image: redis
    steps:
      - checkout
      - run:
          name: Check versions
          command: |
            python --version
            pip --version
            geckodriver --version
            firefox --version
            chromedriver --version
            google-chrome --version
      - run:
          name: Install system deps
          command: sudo apt-get install -y wkhtmltopdf xvfb xclip
      - run:
          name: Install Python deps
          command: |
            python -m venv ~/venv
            cd repondeur
            ~/venv/bin/pip install --upgrade pip
            ~/venv/bin/pip install --no-use-pep517 --progress-bar off -r requirements.txt -r requirements-dev.txt -e . --log pip.log
            ! grep ERROR pip.log
      - run:
          name: Check Python deps conflicts
          command: |
            cd repondeur
            ~/venv/bin/python -c "from paste.deploy.loadwsgi import appconfig ; appconfig('config:development.ini', relative_to='.', global_conf={'app': 'test'})"
      - run:
          name: Check formatting with black
          command: |
            cd repondeur
            ~/venv/bin/black --check .
      - run:
          name: Check coding style with flake8
          command: |
            cd repondeur
            ~/venv/bin/flake8
      - run:
          name: Check type annotations with mypy
          command: |
            cd repondeur
            ~/venv/bin/mypy zam_repondeur
      - run:
          name: Check import order with isort
          command: |
            cd repondeur
            ~/venv/bin/isort --recursive --check-only .
      - run:
          name: Check for potential security issues with bandit
          command: |
            cd repondeur
            ~/venv/bin/bandit -r zam_repondeur
      - run:
          name: Run tests
          command: |
            cd repondeur
            sudo sed --in-place '/fr_FR.UTF-8/s/^#//' /etc/locale.gen
            sudo locale-gen fr_FR.UTF-8
            mkdir -p test-reports
            ~/venv/bin/pytest -p no:sugar -vv --junitxml=test-reports/junit.xml --cov=zam_repondeur tests/
      - store_test_results:
          path: repondeur/test-reports
