version: 2
workflows:
  version: 2
  all:
    jobs:
      - repondeur
jobs:
  repondeur:
    docker:
      - image: circleci/python:3.6-stretch-browsers
        environment:
          ZAM_TEST_DB_URL: postgresql://postgres@localhost/circle_test
      - image: circleci/postgres:10.5-alpine-ram
      - image: redis
    steps:
      - checkout
      - run:
          name: Check versions
          command: |
            python --version
            pip --version
            geckodriver --version
            firefox --version
            chromedriver --version
            google-chrome --version
      - run:
          name: Install system deps
          command: sudo apt-get install -y wkhtmltopdf xvfb
      - run:
          name: Install Python deps
          command: |
            cd repondeur
            sudo pip install -r requirements.txt -r requirements-dev.txt -e .
      - run:
          name: Check formatting with black
          command: |
            cd repondeur
            black --check .
      - run:
          name: Check coding style with flake8
          command: |
            cd repondeur
            flake8
      - run:
          name: Check type annotations with mypy
          command: |
            cd repondeur
            mypy zam_repondeur
      - run:
          name: Run tests
          command: |
            cd repondeur
            sudo sed --in-place '/fr_FR.UTF-8/s/^#//' /etc/locale.gen
            sudo locale-gen fr_FR.UTF-8
            mkdir -p test-reports
            pytest -vv --junitxml=test-reports/junit.xml tests/
      - store_test_results:
          path: repondeur/test-reports
