.content {
    margin: 0 1rem;
}

/* Articles */
#bottom-nav {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
#articles ul {
    column-width: 12rem;
     margin-bottom: 3rem;
}
#articles li {
    margin-bottom: 0.75rem;
}

#advanced {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 1rem auto;
    max-width: 56rem;
}
#advanced > div {
    flex-basis: 26rem;
    padding: 2rem;
    border-bottom: thin solid #979797;
}
#advanced > div.no-border {
    border-bottom: none;
}
#advanced > div h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
#advanced div[role="group"] {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#advanced .button {
    margin: 0 0.75rem 0.75rem 0;
    flex-basis: 10rem;
}
#advanced .button:last-child {
    margin-right: 0;
}
#advanced .button i {
    padding-right: 0.5rem;
}
@media(min-width:1900px) {
    #advanced {
        max-width: none;
    }
}

/* Table formatting */
.table {
    background: white;
    max-width: 55rem;
    margin: 0 auto;
}
.table th, .table td {
    vertical-align: middle;
    padding: .45rem .75rem .4rem;
}
.table td > span,
.table td a {
    display: inline-block;
    line-height: 1;
}
.table thead th {
    border: none;
    font-weight: 600;
    white-space: nowrap;
    padding: .75rem;
}
.table tbody tr:first-child td {
    padding-top: 1rem;
}

/* Sticky table header */
tr.sticky th {
    position: sticky;
    position: -webkit-sticky;
    background: white;
    z-index: 10;
    box-shadow: 0px 3px 3px 0px #CCC;
}
    tr.groupActions th {
        top: 0;
        padding: .5rem 0 .75rem 0;
        text-align: center;
    }
        tr.groupActions th:first-child {
            vertical-align: middle;
        }
    tr.headers th {
        top: 0;
    }
    tr.filters th {
        top: 2rem;
    }

/* Sorting */
.headers th {
    cursor: pointer;
}
.headers th.nosort {
    cursor: default;
}

/* Filtering */
th input.form-control {
    display: inline;
    width: 4rem;
    padding: 0 .25rem;
}
tr.hidden-article,
tr.hidden-amendement,
tr.hidden-table,
tr.hidden-avis,
tr.hidden-reponse {
    display: none;
}
tr[data-retire-avant-seance="1"] {
    background-color: #d9d9d9;
}

td.identique {
    position: relative;
}
td.identique:after {
    content: "";
    background-color: lightblue;
    position: absolute;
    width: 6px;
    top: 0;
    right: 0;
    height: calc(100% + 1px);  /* extra pixel to cover tr bottom border */
}
td.identique.first:after {
    bottom: -1px;  /* move down 1 pixel to cover tr bottom border */
    top: inherit;
    height: calc(100% - 4px);
    border-radius: 6px 6px 0 0;
}
td.identique.last:after {
    height: calc(100% - 5px);
    border-radius: 0 0 6px 6px;
}
td.identique.first.last:after {
    top: 5px;
    height: calc(100% - 10px);
    border-radius: 6px;
}
table.sorted td.identique:after,
table.sorted td.identique.first.last:after,
table.filtered-amendement td.identique:after,
table.filtered-amendement td.identique.first.last:after,
table.filtered-avis td.identique:after,
table.filtered-avis td.identique.first.last:after,
table.filtered-status td.identique:after,
table.filtered-status td.identique.first.last:after,
table.filtered-reponse td.identique:after,
table.filtered-reponse td.identique.first.last:after {
    top: calc(50% - 3px);
    height: 6px;
    border-radius: 6px;
}

/* Links in table */
td a, td a:hover {
    white-space: nowrap;
    text-decoration: none;
}
td a.arrow-right {
    padding-right: .8rem;
    background: no-repeat right 35%/18% url("../img/big_right.svg");
}

:target {
    background: #ededed66;
}
/* To keep under :target for priority. */
.highlighted {
    background: #d4edda66;
}
nobr {
    display: block;
}
span.avis {
    width: 6px;
    display: block;
    height: 1.5rem;
    float: left;
    margin: 0 0.5rem 0 0;
}
span.avis.positive {
    background-color: #b8e986;
}
span.avis.sagesse {
    background-color: #6db4ff;
}
span.avis.negative {
    background-color: #d0021b;
}
span.avis.gouvernement {
    background-color: #3167a6;
}
span.avis.abandoned_before_seance {
    background-color: #979797;
}

td form {
    display: inline-block;
}
nav.options {
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 55rem;
    margin: 1rem auto;
}
    nav.options #unsort {
        text-decoration: underline;
        margin-left: 1rem;
    }
