.content {
    margin: 0 1rem;
}

/* Articles */
#bottom-nav {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
#articles ul {
    column-width: 12rem;
     margin-bottom: 3rem;
}
#articles li {
    margin-bottom: 0.75rem;
}

/* Options avancées */
.toggle.with-arrow:before {
    content: "↓";
}
.toggle.with-arrow.enabled:before {
    content: "↑";
}
#advanced {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 1rem auto;
    max-width: 56rem;
}
#advanced > div {
    flex-basis: 26rem;
    padding: 2rem;
    border-bottom: thin solid #979797;
}
#advanced > div h3 {
    font-weight: 600;
}
#advanced div[role="group"] {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#advanced .button {
    margin: 0 0.75rem 0.75rem 0;
    flex-basis: 10rem;
}
#advanced .button:last-child {
    margin-right: 0;
}
#advanced .button i {
    padding-right: 0.5rem;
}
@media(min-width:1900px) {
    #advanced {
        max-width: none;
    }
}

/* Table formatting */
.table th, .table td {
    vertical-align: middle;
    padding: .25rem .75rem;
}
.table td > span,
.table td a {
    display: inline-block;
    line-height: 1;
}
.table thead th {
    border: none;
    font-weight: 600;
    white-space: nowrap;
    padding: .75rem;
}
.table th.avis {
    min-width: 100px;
}
.table tbody tr:first-child td {
    padding-top: 1rem;
}

/* Sticky table header */
tr.sticky th {
    position: sticky;
    position: -webkit-sticky;
    background: white;
    z-index: 10;
    box-shadow: 0px 3px 3px 0px #CCC;
}
    tr.headers th {
        top: 0;
    }
    tr.filters th {
        top: 2rem;
    }

/* Sorting */
.headers th {
    cursor: pointer;
}
.headers th.nosort {
    cursor: default;
}
.headers th::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dc  ";  /* fa-sort */
}
.headers th[data-order="asc"]::before {
    content: "\f0dd  ";  /* fa-sort-down */
}
.headers th[data-order="desc"]::before {
    content: "\f0de  ";  /* fa-sort-up */
}
.headers th.nosort::before {
    content: "";
}

/* Filtering */
th input.form-control {
    display: inline;
    width: 4rem;
    padding: 0 .25rem;
}
tr.hidden-article,
tr.hidden-amendement,
tr.hidden-affectation,
tr.hidden-avis {
    display: none;
}
tr[data-retire-avant-seance="1"] {
    background-color: #d9d9d9;
}

td.identique {
    position: relative;
}
td.identique:after {
    content: "";
    background-color: lightblue;
    position: absolute;
    width: 6px;
    top: 0;
    right: 0;
    height: calc(100% + 1px);  /* extra pixel to cover tr bottom border */
}
td.identique.first:after {
    bottom: -1px;  /* move down 1 pixel to cover tr bottom border */
    top: inherit;
    height: calc(100% - 4px);
    border-radius: 6px 6px 0 0;
}
td.identique.last:after {
    height: calc(100% - 5px);
    border-radius: 0 0 6px 6px;
}
td.identique.first.last:after {
    top: 5px;
    height: calc(100% - 10px);
    border-radius: 6px;
}
table.sorted td.identique:after,
table.sorted td.identique.first.last:after,
table.filtered-amendement td.identique:after,
table.filtered-amendement td.identique.first.last:after,
table.filtered-avis td.identique:after,
table.filtered-avis td.identique.first.last:after,
table.filtered-affectation td.identique:after,
table.filtered-affectation td.identique.first.last:after {
    top: calc(50% - 3px);
    height: 6px;
    border-radius: 6px;
}

/* Links in table */
td a, td a:hover {
    white-space: nowrap;
    text-decoration: none;
    border-bottom: thin solid #3167a6;
}
td a.download-pdf {
    border-bottom: none;
}

:target {
    background: #ededed66;
}
/* To keep under :target for priority. */
.highlighted {
    background: #d4edda66;
}
nobr {
    display: block;
}
span.avis {
    width: 6px;
    display: block;
    height: 1.5rem;
    float: left;
    margin: 0 0.5rem 0 0;
}
span.avis.positive {
    background-color: #b8e986;
}
span.avis.sagesse {
    background-color: #6db4ff;
}
span.avis.negative {
    background-color: #d0021b;
}
span.avis.gouvernement {
    background-color: #3167a6;
}
span.avis.abandoned_before_seance {
    background-color: #979797;
}

td .button {
    padding: .2rem .4rem;
    border-radius: 20px;
    font-size: 60%;
    line-height: 0;
}
nav.secondary div {
    font-weight: normal;
}
nav.options {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}
    nav.options #unsort {
        text-decoration: underline;
        margin-left: 1rem;
    }
