.timeline ul {
    list-style-type: none;
}
    .timeline ul li {
        display: flex;
    }
.timeline h3 {
    margin-left: 10rem;
    margin-top: 4rem;
}
.icon {
    border-left: 3px solid #3167a6;
    margin: 0 1rem;
}
    .icon i {
        display: inline-block;
        width: 2.8rem;
        height: 2.8rem;
        margin: .6rem 0 0 -1.5rem;
        background: transparent no-repeat center center;
    }
    .icon .icon-edit {
        background-image: url("../img/journal/edit.svg");
    }
    .icon .icon-boite {
        background-image: url("../img/journal/boite.svg");
    }
    .icon .icon-document {
        background-image: url("../img/journal/document.svg");
    }
.when, .what {
    padding: 1.5rem 1rem;
    min-width: 10rem;
}
details {
}
    details[open] summary {
        padding-bottom: .5rem;
    }
