* {
    box-sizing: border-box;
}

body {
    font-family: "source_sans_pro", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f2f2f2;
}

nav.main {
    background: #3167a6;
    color: white;
    padding: .5rem 2rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    nav.main ul {
        display: flex;
        list-style-type: none;
        margin: 0;
    }
        nav.main ul li {
            padding: .7rem 1rem;
        }
            nav.main ul li a {
                color: white;
            }
            nav.main ul li.selected a {
                color: white;
                text-decoration: underline;
            }
    nav.main ul:first-child li a {
        padding: 0 0 0 1.5rem;
    }
    nav.main ul:first-child li:first-child a {
        background: no-repeat left 20%/18% url("../img/home.svg");
    }
    nav.main ul:first-child li:nth-child(2) a {
        border-left: 2px solid white;
    }
    nav.main ul:last-child li:first-child a {
        background: no-repeat right 20%/18% url("../img/compte.svg");
        padding-right: 1.7rem;
    }
    nav.main ul:last-child li:last-child a {
        background: no-repeat right 20%/16% url("../img/exit.svg");
        padding-right: 1.7rem;
    }

nav.secondary {
    padding: 1.2rem 2rem 1rem 2rem;
    text-align: center;
    font-weight: 600;
}
.secondary .nav-item {
    align-self: center;
}
.secondary div h2 {
    font-weight: bold;
}
.secondary div div {
    font-weight: normal;
}
.secondary .nav-item:last-child {
    flex-basis: 12rem;
}
.arrow-left, .arrow-right {
    white-space: nowrap;
}
.arrow-left {
    padding-left: 1.33rem;
    background: no-repeat left 40%/6% url("../img/big_left.svg");
}
.arrow-right {
    padding-right: 1.33rem;
    background: no-repeat right 40%/6% url("../img/big_right.svg");
}
.save-buttons .arrow-left {
    padding-top: .4rem;
    margin-top: .2rem;
    background-position: left 45%;
    margin-right: 2rem;
}
.dossier-de-banc {
    margin-left: 3rem;
}
.journal {
    font-weight: normal;
}

/* Liens */
a {
    color: #3167a6;
}
a.underlined {
    display: inline-block;
    line-height: 1;
    border-bottom: 1px solid #3167a6;
}
a.underlined:hover {
    border-bottom: 2px solid #3167a6;
    text-decoration: none;
}

/* Bouton */
.button:hover {
    cursor: pointer;
}
.button,
.button.enabled:hover {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    color: #1a1a1a;
    line-height: 1.5;
    padding: 0.5rem 1.5rem 0.25rem 1.5rem;
    border: thin solid #1a1a1a;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
}
.button:hover,
.button.enabled {
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
}
.button.disabled {
    opacity: 0.65;
    pointer-events: none;
}

/* Bouton rouge */
.danger.button,
.danger.button.enabled:hover {
    background-color: #d0021b;
    border-color: #d0021b;
    color: white;
}
.danger.button:hover,
.danger.button.enabled {
    background-color: white;
    border-color: #d0021b;
    color: #d0021b;
}

/* Bouton bleu */
.primary.button:hover,
.primary.button.enabled {
    background-color: #3167a6;
    border-color: #3167a6;
    color: white;
}
.primary.button,
.primary.button.enabled:hover {
    background-color: white;
    border-color: #3167a6;
    color: #3167a6;
}

.save-buttons {
    display: flex;
    justify-content: space-around;
}
nav .button {
    margin: auto 0.5rem;
    background-color: white;
}
nav .button:first-child {
    margin-left: 0;
}
nav .button:last-child {
    margin-right: 0;
}

.box {
    background-color: white;
    box-shadow: 2px 2px 5px 2px #CCC;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
}

.box h3 {
    font-weight: 600;
}

form.box {
    margin: 4rem auto;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.box h1 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
}
form.box fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 20rem;
}
form.box label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}
form.box input[type=email] {
    padding: 4px;
}
form.box input[type=submit] {
    font-size: 1.25rem !important;
    margin: 2.5rem 0 1rem 0;
}

/* Overwrite Bootstrap styles on upload inputs. */
.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
}
.custom-file-label::after {
    content: "Parcourir";
}

.amendement table,
dd table {
    width: 100%;
    max-width: 100%;
}
.amendement td,
dd td {
    border: 1px solid black;
    padding: .2rem 1rem;
}
