* {
    box-sizing: border-box;
}

body {
    font-family: "source_sans_pro", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header.main {
    background-color: #3167a6;
    padding: .5rem;
    color: white;
    text-align: center;
}

header.main > h2,
header.main > .title {
    padding: 0.5rem 0;
    margin: 0;
}

header.main h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

header.main h3 {
    font-size: 1.5rem;
    line-height: 1.33;
}

header.main h2,
header.main h3 {
    max-width: 70%;
    margin: auto;
}

header.main nav {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
}

header.main a,
header.main button {
    color: white;
    border: thin solid white;
}
header.main a:hover,
header.main button:hover {
    background-color: white;
    color: #3167a6;
}

@media(min-width:768px) {
    header.main > h2,
    header.main > .title {
        padding: 1rem 0;
        margin: 0;
    }
}

/* Back button */
header.main nav.top-left {
    margin-bottom: 1rem;
}
@media(min-width:768px) {
    header.main nav.top-left {
        float: left;
        margin-bottom: 0.5rem;
    }
    header.main nav.top-left ~ * {
        clear: both;
    }
}

nav.secondary {
    padding: 1.2rem 2rem 1rem 2rem;
    text-align: center;
    box-shadow: 0 10px 5px -5px #CCC;
    background: #f6f7fa;
    font-weight: 600;
}
.secondary .nav-item {
    align-self: center;
}
.secondary div h2 {
    font-weight: bold;
}
.secondary div div {
    font-weight: normal;
}
.secondary .nav-item:last-child {
    flex-basis: 12rem;
}
.arrow-left, .arrow-right {
    white-space: nowrap;
}
.arrow-left {
    padding-left: 1.33rem;
    background: no-repeat left 40%/6% url("../img/big_left.svg");
}
.arrow-right {
    padding-right: 1.33rem;
    background: no-repeat right 40%/6% url("../img/big_right.svg");
}
.dossier-de-banc {
    margin-left: 3rem;
}
.journal {
    font-weight: normal;
}

main {
    margin-top: 2rem;
}

/* Liens */
a {
    color: #3167a6;
}
a.underlined {
    display: inline-block;
    line-height: 1;
    border-bottom: 1px solid #3167a6;
}
a.underlined:hover {
    border-bottom: 2px solid #3167a6;
    text-decoration: none;
}

/* Bouton */
.button:hover {
    cursor: pointer;
}
.button,
.button.enabled:hover {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    color: #1a1a1a;
    line-height: 1.5;
    padding: 0.5rem 1.5rem 0.25rem 1.5rem;
    border: thin solid #1a1a1a;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
}
.button:hover,
.button.enabled {
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
}

/* Bouton rouge */
.danger.button,
.danger.button.enabled:hover {
    background-color: #d0021b;
    border-color: #d0021b;
    color: white;
}
.danger.button:hover,
.danger.button.enabled {
    background-color: white;
    border-color: #d0021b;
    color: #d0021b;
}

/* Bouton bleu */
.primary.button:hover,
.primary.button.enabled {
    background-color: #3167a6;
    border-color: #3167a6;
    color: white;
}
.primary.button,
.primary.button.enabled:hover {
    background-color: white;
    border-color: #3167a6;
    color: #3167a6;
}

.save-buttons {
    display: flex;
    justify-content: space-around;
}
nav .button {
    margin: auto 0.5rem;
}
nav .button:first-child {
    margin-left: 0;
}
nav .button:last-child {
    margin-right: 0;
}

.box {
    background-color: white;
    box-shadow: 2px 2px 5px 2px #CCC;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
}

.box h3 {
    font-weight: 600;
}

/* Overwrite Bootstrap styles on upload inputs. */
.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
}
.custom-file-label::after {
    content: "Parcourir";
}
