<!doctype html>
<meta charset=utf-8>
<title>Zam : alléger la charge de préparation par le gouvernement du débat parlementaire.</title>
<style type="text/css">
    body {
        max-width: 55rem;
        margin: 1rem auto;
        font-size: 20px;
    }
    h1,
    .center {
        text-align: center;
    }
    img {
        max-width: 600px;
    }
</style>
$$content
