[Unit]
Description=Zam Web Application
After=network.target

[Service]
Type=simple
User=repondeur
WorkingDirectory=/srv/repondeur/src/repondeur/
ExecStart=/usr/local/bin/pipenv run gunicorn --paste production.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
