[Unit]
Description=Zam Web Application
After=network.target

[Service]
Type=simple
User=repondeur
WorkingDirectory=/srv/repondeur/src/repondeur/
ExecStart=/srv/repondeur/venv/bin/gunicorn --paste production.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
