[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "*"
waitress = "*"
"e1839a8" = {path = ".", editable = true}
"pyramid-jinja2" = "*"
requests = "*"
bleach = "*"
openpyxl = "*"
dataclasses = "*"
"4f547c1" = {path = "./../aspirateur", editable = true}
sqlalchemy = ">=1.2,<1.3"
"6901425" = {path = "./../visionneuse", editable = true}

[dev-packages]
webtest = "*"
pytest = "*"
"flake8" = "*"
mypy = "*"
black = "*"
pytest-cov = "*"
pyramid-debugtoolbar = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
