[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "*"
waitress = "*"
"e1839a8" = {path = ".", editable = true}
"pyramid-jinja2" = "*"
requests = "*"
bleach = "*"
openpyxl = "*"
dataclasses = "*"
sqlalchemy = ">=1.2,<1.3"
legipy = {git = "https://github.com/regardscitoyens/legipy.git", editable = true}
tlfp = {git = "https://github.com/regardscitoyens/the-law-factory-parser.git", editable = true}
inscriptis = "*"
selectolax = "*"
pyramid-default-cors = "*"

[dev-packages]
webtest = "*"
pytest = "*"
"flake8" = "*"
mypy = "*"
black = "*"
pytest-cov = "*"
pyramid-debugtoolbar = "*"
responses = "*"
ipdb = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
