[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "*"
waitress = "*"
"pyramid-jinja2" = "*"
requests = "*"
bleach = "*"
openpyxl = "*"
dataclasses = "*"
sqlalchemy = ">=1.2,<1.3"
legipy = {git = "https://github.com/regardscitoyens/legipy.git", editable = true}
tlfp = {git = "https://github.com/regardscitoyens/the-law-factory-parser.git", editable = true}
inscriptis = "*"
selectolax = "*"
pyramid-default-cors = "*"
pdfkit = "*"
xvfbwrapper = "*"
alembic = "*"
rollbar = ">=0.14.4"
huey = "*"
redis = "*"
"psycopg2" = "*"
zam-repondeur = {editable = true, path = "."}

[dev-packages]
webtest = "*"
pytest = "*"
"flake8" = "*"
mypy = "*"
black = "*"
pytest-cov = "*"
pyramid-debugtoolbar = "*"
responses = "*"
ipdb = "*"
pytest-sugar = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
