{% extends "auth/_base_auth.html" %}

{% block body %}
{% set has_name = request.user.name %}
{% if has_name %}
    <h1>Modifier votre nom</h1>
{% else %}
    <h1>C’est votre première connexion…</h1>
{% endif %}
<form method="POST" class="intro">
    <fieldset>
        {% if request.session.pop('missing_name', None) %}
            <p class="error">La saisie d’un nom est requise.</p>
        {% endif %}
        <label for="name">Quel est votre nom ?</label>
        <input type="text" name="name" value="{{ name }}" required autocomplete="name">
    </fieldset>
    <div class="controls">
        {% if has_name %}
            <a href="{{ context.back_url(request) }}">Annuler</a>
            <input type="submit" class="button primary enabled" value="Enregistrer">
        {% else %}
            <input type="submit" class="button primary enabled" value="Entrer">
        {% endif %}
    </div>
</form>
{% endblock %}
